<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!-- Background color split screen for large screens -->
<div class="fixed top-0 left-0 w-1/2 h-full bg-white" aria-hidden="true"></div>
<div class="fixed top-0 right-0 w-1/2 h-full bg-gray-50" aria-hidden="true"></div>
<div class="relative min-h-screen flex flex-col">
  

  <!-- 3 column wrapper -->
  <div class="flex-grow w-full max-w-7xl mx-auto xl:px-8 lg:flex">
    <!-- Left sidebar & main wrapper -->
    <div class="flex-1 min-w-0 bg-white xl:flex">
      <div class="border-b border-gray-200 xl:border-b-0 xl:flex-shrink-0 xl:w-64 xl:border-r xl:border-gray-200 bg-white">
        <div class="h-full pl-4 pr-6 py-6 sm:pl-6 lg:pl-8 xl:pl-0">
          <!-- Start left column area -->
          <div class="h-full relative" style="min-height: 12rem">
            <div >

              <h2 class="text-lg">Template Variables</h2>
              <ul class="list-disc">
                <li><code>@TODAY@</code> Inserts todays date.</li>
                <li><code>@CLIENT@</code> Inserts list of clients on the case.</li>
                <li><code>@CLIENT_ADDRESS@</code> Inserts client street address.</li>
                <li><code>@CLIENT_STATE@</code> Inserts client state.</li>
                <li><code>@CLIENT_COUNTY@</code> Inserts client county.</li>
                <li><code>@CLIENT_CITY@</code> Inserts client city.</li>
                <li><code>@CLIENT_ZIPCODE@</code> Inserts client zipcode.</li>

                <li><code>@ATTORNEY@</code> Inserts list of clients on the case.</li>
                <li><code>@ATTORNEY_ADDRESS@</code> Inserts attorney street address.</li>
                <li><code>@ATTORNEY_STATE@</code> Inserts attorney state.</li>
                <li><code>@ATTORNEY_COUNTY@</code> Inserts attorney county.</li>
                <li><code>@ATTORNEY_CITY@</code> Inserts attorney city.</li>
                <li><code>@ATTORNEY_ZIPCODE@</code> Inserts attorney zipcode.</li>
                
                <li><code>@LAW_FIRM@</code> Inserts name of law firm.</li>
                <li><code>@DESCRIPTION@</code> Inserts description of case.</li>

                <!-- FLAT RATE SPECIFICS -->
                <li><code>@FLAT_RATE_FEE@</code> Inserts flat rate fee.</li>
                <li><code>@COVERED_ITEMS@</code> Inserts numerical list of covered items.</li>
                

                <!-- HOURLY SPECIFIC FIELDS -->
                <li><code>@RETAINER_AMOUNT@</code> Inserts retainer amount.</li>
                <li><code>@PRE_SETTLEMENT_CONTINGENCY@</code> Inserts pre-settlement contingecy rate.</li>
                <li><code>@POST_SETTLEMENT_CONTINGENCY@</code> Inserts post-settlement contingecy rate.</li>

              </ul>
            </div>
          </div>
          <!-- End left column area -->
        </div>
      </div>

      <div class="bg-white lg:min-w-0 lg:flex-1">
        <div class="h-full py-6 px-4 sm:px-6 lg:px-8">
          <!-- Start main area-->
          <div class="relative h-full" style="min-height: 36rem">
            <div class="absolute inset-0 border-2 border-gray-200 border-dashed rounded-lg">

              <quill-editor [styles]="{height: '100%'}" [modules]="config" [(ngModel)]="content" (onContentChanged)="displayContent($event)" ></quill-editor>

            </div>
          </div>
          <!-- End main area -->
        </div>
      </div>
    </div>

    
  </div>
</div>




