<div class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
  <!-- Background backdrop, show/hide based on slide-over state. -->
  <div class="fixed inset-0"></div>

  <div class="fixed inset-0 overflow-hidden">
    <div class="absolute inset-0 overflow-hidden">
      <div class="pointer-events-none fixed inset-y-0 right-0 flex pl-10 sm:pl-16">
        <!--
              Slide-over panel, show/hide based on slide-over state.
    
              Entering: "transform transition ease-in-out duration-500 sm:duration-700"
                From: "translate-x-full"
                To: "translate-x-0"
              Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
                From: "translate-x-0"
                To: "translate-x-full"
            -->
        <div class="pointer-events-auto w-screen max-w-2xl">
          <form
            [formGroup]="invoiceForm"
            class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl"
          >
            <div class="flex-1">
              <!-- Header -->
              <div class="bg-gray-50 px-4 py-6 sm:px-6">
                <div class="flex items-start justify-between space-x-3">
                  <div class="space-y-1">
                    <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">
                      Invoice: {{ invoice.invoice_id | uppercase }}
                    </h2>
                    <p class="text-sm text-gray-500">
                      Update the invoice details and then submit to apply changes.
                    </p>
                  </div>
                  <div class="flex h-7 items-center">
                    <button
                      (click)="close()"
                      type="button"
                      class="text-gray-400 hover:text-gray-500"
                    >
                      <span class="sr-only">Close panel</span>
                      <!-- Heroicon name: outline/x -->
                      <svg
                        class="h-6 w-6"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M6 18L18 6M6 6l12 12"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>

              <!-- Divider container -->
              <div class="space-y-6 py-6 sm:space-y-0 sm:divide-y sm:divide-gray-200 sm:py-0">
                <!-- Project name -->

                <div
                  class="space-y-1 px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 sm:px-6 sm:py-5"
                >
                  <div>
                    <label
                      for="project-name"
                      class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2"
                      >Amount
                    </label>
                  </div>
                  <div class="sm:col-span-2">
                    <div>
                      <div class="mt-1 relative rounded-md shadow-sm">
                        <div
                          class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
                        >
                          <span class="text-gray-500 sm:text-sm"> $ </span>
                        </div>
                        <input
                          formControlName="amount"
                          [inputMask]="currencyMask"
                          type="text"
                          name="price"
                          id="price"
                          class="focus:ring-blue-500 focus:border-blue-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md"
                          placeholder="0.00"
                          aria-describedby="price-currency"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="space-y-1 px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 sm:px-6 sm:py-5"
                >
                  <div>
                    <label
                      for="project-name"
                      class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2"
                      >Current Due Date
                    </label>
                  </div>
                  <div class="sm:col-span-2">
                    <div>
                      <div class="mt-1 relative ">
                      {{ invoice.due_date | date }}
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="space-y-1 px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 sm:px-6 sm:py-5"
                >
                  <div>
                    <label
                      for="project-name"
                      class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2"
                      >New Due Date
                    </label>
                  </div>
                  <div class="sm:col-span-2">
                    <div>
                      <div class="mt-1 relative rounded-md shadow-sm">
                        <div
                          class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
                        >
                        </div>
                        <input
                          
                          formControlName="due_date"
                          type="date"
                          class="focus:ring-blue-500 focus:border-blue-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Project description -->
                <div
                  class="space-y-1 px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 sm:px-6 sm:py-5"
                >
                  <div>
                    <label
                      for="project-description"
                      class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2"
                    >
                      Invoice Message
                    </label>
                  </div>
                  <div class="sm:col-span-2">
                    <textarea
                      formControlName="invoice_message"
                      id="project-description"
                      name="project-description"
                      rows="3"
                      class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>

            <!-- Action buttons -->
            <div class="flex-shrink-0 border-t border-gray-200 px-4 py-5 sm:px-6">
              <div class="flex justify-end space-x-3">
                <button
                  (click)="close()"
                  type="button"
                  class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                >
                  Cancel
                </button>

                <button
                  (click)="submit()"
                  class="inline-flex justify-center rounded-md border border-transparent bg-blue-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                >
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
