<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class="relative min-h-screen flex flex-col">
  <!-- Navbar -->
 

  <!-- 3 column wrapper -->
  <div class="flex-grow w-full max-w-7xl mx-auto xl:px-8 lg:flex">
    <!-- Left sidebar & main wrapper -->
    <div class="flex-1 min-w-0 bg-white xl:flex">
      <div class="border-b border-gray-200 xl:border-b-0 xl:flex-shrink-0 xl:w-64 xl:border-r xl:border-gray-200 bg-white">
        <div class="h-full pl-4 pr-6 py-6 sm:pl-6 lg:pl-8 xl:pl-0">
          <!-- Start left column area -->
          <div class="h-full relative" style="min-height: 12rem">
            <div class="">

      <div *ngFor="let key of keys">
        <label class="block text-sm font-medium text-gray-700">{{key}}</label>
        <div class="mt-1">
          <input (blur)="reloadContract()" type="text" [(ngModel)]="form[key]" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="you@example.com">
        </div>
      </div>

            </div>
          </div>
          <!-- End left column area -->
        </div>
      </div>

      <div class="bg-white lg:min-w-0 lg:flex-1">
        <div class="h-full py-6 px-4 sm:px-6 lg:px-8">
          <!-- Start main area-->
          <div class="relative h-full" style="min-height: 36rem">
            <div class="">

                <quill-editor [styles]="{height: '700px'}" [modules]="{toolbar: false}" [readOnly]="true" [(ngModel)]="content"  ></quill-editor>

            </div>
          </div>
          <!-- End main area -->
        </div>
      </div>
    </div>

    
  </div>
</div>
