<!-- This example requires Tailwind CSS v2.0+ -->
<!-- MAIN -->
<div class="m-4">
  <ul role="list" class="space-y-3">
    <li
      (click)="toggleDropdown()"
      class="bg-white shadow overflow-hidden px-4 py-4 sm:px-6 sm:rounded-md"
    >
      <!-- Your content -->
      <h1 class="text-lg">{{ title }}</h1>
      <p class="text-md">{{ subtitle }}</p>
    </li>
    <!--
    Dropdown menu, show/hide based on menu state.

    Entering: "transition ease-out duration-100"
      From: "transform opacity-0 scale-95"
      To: "transform opacity-100 scale-100"
    Leaving: "transition ease-in duration-75"
      From: "transform opacity-100 scale-100"
      To: "transform opacity-0 scale-95"
  -->
    <form [formGroup]="assetForm">
      <div
        *ngIf="dropdownVisible"
        class="right-0 mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button"
        tabindex="-1"
      >
        <div class="p-2">
          <div class="grid grid-cols-1 gap-x-4 sm:grid-cols-6">
            <div class="sm:col-span-3">
              <label for="relationship" class="block text-sm font-medium text-gray-700">
                Asset Type
              </label>
              <div class="mt-1">
                <select
                  formControlName="type"
                  id="region"
                  name="region"
                  autocomplete="address-level1"
                  class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
                >
                  <option *ngFor="let type of assetTypes" [ngValue]="type">
                    {{ type | titlecase }}
                  </option>
                </select>
              </div>
            </div>

            <div class="sm:col-span-3">
              <label for="relationship" class="block text-sm font-medium text-gray-700">
                Is Joint?
              </label>
              <div class="mt-1">
                <select
                  formControlName="is_joint"
                  id="region"
                  name="region"
                  autocomplete="address-level1"
                  class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
                >
                  <option [ngValue]="false">No</option>
                  <option [ngValue]="true">Yes</option>
                </select>
              </div>
            </div>
            <div class="sm:col-span-3">
              <label for="phone" class="block text-sm font-medium text-gray-700"> Institution Name</label>
              <div class="mt-1">
                <input
                  formControlName="institution"
                  id="phone"
                  name="phone"
                  type="number"
                  autocomplete="phone"
                  class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
                />
              </div>
            </div>
            <div class="sm:col-span-3">
              <label for="phone" class="block text-sm font-medium text-gray-700"> Amount</label>
              <div class="mt-1">
                <input
                  formControlName="balance"
                  id="phone"
                  name="phone"
                  type="number"
                  autocomplete="phone"
                  class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- SAVE BUTTON GOES HERE -->
        <div class="text-right">
          <button
            (click)="submit()"
            type="button"
            class="m-2 px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
          >
            Save
          </button>
        </div>
      </div>
    </form>
    <!-- More items... -->
  </ul>
</div>
