<ng-container>
  <button
    ep-button
    color="white"
    *ngIf="config.epCancelText !== null"
    [attr.cdkFocusInitial]="config.epAutofocus === 'cancel' || null"
    (click)="onCancel()"
    [disabled]="config.epCancelDisabled"
  >
    {{ config.epCancelText }}
  </button>
  <button
    ep-button
    *ngIf="config.epOkText !== null"
    [attr.cdkFocusInitial]="config.epAutofocus === 'ok' || null"
    (click)="onOk()"
    [disabled]="config.epOkDisabled"
    class="ml-3"
  >
    {{ config.epOkText }}
  </button>
</ng-container>
