<!-- MAIN SELECTION CONTAINER -->
<div *ngIf="displaySelectionTable" >


<!-- This example requires Tailwind CSS v2.0+ -->
<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Intakes</h1>
      <p class="mt-2 text-sm text-gray-700">Your attorney may send you an Intake to get information that will assist in your case.</p>
    </div>
  </div>
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle">
        <div class="overflow-hidden shadow-sm ring-1 ring-black ring-opacity-5">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6 lg:pr-8">
                </th>
 
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">Case</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Type</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>
             </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
                <ng-container *ngIf="matters$ | async as matters">
                  <ng-container *ngFor="let matter of matters">

              <tr *ngIf="matter.matter_intake && matter.matter_intake.status !== 'firm only'">

                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 lg:pr-8">
                    <button 
                    (click)="selectMatter(matter)"
                    [disabled]="matter.matter_intake.status === 'complete'"
                    type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Begin</button>
                </td>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">{{matter.title}}: {{matter.case_id}}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{matter.matter_intake.type | uppercase}}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{matter.matter_intake.status | uppercase}}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"></td>
              </tr>


                  </ng-container>
              </ng-container>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


</div>





<!-- ESTATE PLANNING INTAKE FORM CONTAINER -->
<ng-container  *ngIf="selectedMatter" >
  <ng-scrollbar style="height: 1000px;">

<div *ngIf="selectedMatter.matter_intake.type === 'estate planning'">

<app-client-estate-planning-intake [matter]="selectedMatter"></app-client-estate-planning-intake>

</div>

<app-probate-workflow *ngIf="selectedMatter.matter_intake.type === 'probate'" [matter]="selectedMatter" [clientMode]="true"></app-probate-workflow>



  </ng-scrollbar>

</ng-container>
