<div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
  <div>
    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
      <div class="mt-6">
          <div class="grid w-full grid-cols-1 gap-4">
            <div *ngFor="let group of memberGroups" class="relative flex items-center px-6 py-2 space-x-3 bg-white">
              <div class="flex-1 min-w-0">
                  <p class="text-sm truncate text-slate-500">
                    {{group.role.name | titlecase}}
                  </p>
                  <div class="flex">
                    <ep-input-group class="flex-1">
                      <input *ngIf="group.member" ep-input type="text" [ngModel]="group.member.firm_employee_id"
                        (ngModelChange)="filterStaffMembers($event)" [epAutocomplete]="auto">
                        <input *ngIf="!group.member" ep-input type="text" [ngModel]="newMember"
                        (ngModelChange)="filterStaffMembers($event)" [epAutocomplete]="auto">
                    </ep-input-group>
  
                    <ep-autocomplete #auto="epAutocomplete" [displayWith]="displayFn"
                      (optionSelected)="setRole($event, group.role.id)" panelWidth="auto">
                      <ep-option *ngFor="let staff of filteredStaffMembers" [value]="staff.id">
                        <ep-avatar epSize="xsmall" [epSrc]="staff.user.profile_image" [epText]="staff.user.full_name">
                        </ep-avatar> <span class="block ml-3 font-normal truncate">
                          {{staff.user.full_name}}
                        </span>
                      </ep-option>
                    </ep-autocomplete>

                    <button *ngIf="group.member" (click)="removeMember(group.member.id)" type="reset" class="inline-flex items-center ml-2 border border-transparent rounded-full text-slate-400 hover:text-slate-500 hover:cursor-pointer">
                      <!-- Heroicon name: solid/plus-sm -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                      </svg>
                    </button>
                  </div>
              </div>
            </div>
          
            <!-- More people... -->
          </div>
      </div>
    </div>
  </div>
</div>