<div class="flex items-stretch flex-1 overflow-hidden">
  <aside class="flex-shrink-0 block">
    <div class="relative flex flex-col h-full bg-white border-r border-gray-200 w-96">
      <div class="flex-shrink-0 border-b border-gray-200">
        <div class="flex flex-col justify-center h-16 pl-6 pr-4 bg-white">
          <div class="flex items-center space-x-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 text-slate-400 group-hover:text-slate-300 lg:mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
            </svg>
            <h1 class="flex-auto text-lg font-medium text-gray-900">Messages</h1>

            <button
              type="button"
              (click)="setSelectedConversation()"
              class="flex items-center justify-center w-8 h-8 text-gray-400 bg-white rounded-full hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              <span class="sr-only">Create new message</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <nav aria-label="Message list" class="flex-1">
        <!-- Message list-->
        <app-conversation-history-list
          [conversations]="conversationItems$ | async"
          [selectedConversation]="selectedConversation$ | async"
          (selectedConversationChange)="setSelectedConversation($event)"
        ></app-conversation-history-list>
      </nav>
    </div>
  </aside>

  <section
    aria-labelledby="message-heading"
    class="flex flex-col flex-1 h-full min-w-0 overflow-hidden"
  >
    <ng-container *ngIf="selectedConversation$ | async as selectedConversation; else default">
      <!-- <app-chat-conversation-item
        [conversation]="selectedConversation"
      ></app-chat-conversation-item> -->
      <router-outlet></router-outlet>
    </ng-container>

    <ng-template #default>
      <app-conversation-draft
        (conversationFound)="setSelectedConversation($event)"
      ></app-conversation-draft>
    </ng-template>
  </section>
</div>
