<div class="flex items-stretch flex-1 overflow-hidden">
  <aside class="flex-shrink-0 block">
    <div class="relative flex flex-col h-full bg-white border-r border-gray-200 w-96">
      <div class="flex-shrink-0 border-b border-gray-200">
        <div class="flex flex-col justify-center h-16 pl-6 pr-4 bg-white">
          <div class="flex items-center space-x-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 text-gray-400 group-hover:text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
            </svg>
            <h1 class="flex-auto text-lg font-medium text-gray-900">Messages</h1>

            <button
              type="button"
              (click)="setSelectedConversation()"
              class="flex items-center justify-center w-8 h-8 text-gray-400 bg-white rounded-full hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              <span class="sr-only">Create new message</span>

              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <nav aria-label="Message list" class="flex-1">
        <!-- Message list-->
        <app-conversation-history-list
          [conversations]="conversationItems$ | async"
          [selectedConversationSid]="selectedConversationSid$ | async"
          (selectedConversationSidChange)="setSelectedConversation($event)"
        ></app-conversation-history-list>
      </nav>
    </div>
  </aside>

  <section
    aria-labelledby="message-heading"
    class="flex flex-col flex-1 h-full min-w-0 overflow-hidden"
  >
      <router-outlet></router-outlet>
  </section>
</div>
