<div class="px-4 pt-5 pb-8 sm:p-6 sm:pb-8 flex-auto">
    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
      <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
        Apply a case template
      </h3>
    </div>
  
    <div class="mt-6">
        <fieldset>
            <legend class="sr-only">
              Case templates
            </legend>
            <div class="relative bg-white rounded-md -space-y-px overflow-y-auto max-h-72 border border-gray-200">
              <label class="relative border-t border-b p-4 flex flex-col cursor-pointer md:pl-4 md:pr-6 md:grid md:grid-cols-2 focus:outline-none" *ngFor="let template of caseTemplates; first as isFirst; last as isLast"
                [ngClass]="{
                    'bg-blue-50 border-blue-200 z-10': selectedTemplate && selectedTemplate.id === template.id,
                    'border-gray-200': !selectedTemplate || selectedTemplate.id !== template.id,
                    'border-t-0': isFirst,
                    'border-b-0': isLast
                }"
              >
                <div class="flex items-center text-sm">
                  <input [(ngModel)]="selectedTemplate" type="radio" name="pricing-plan" [value]="template" class="h-4 w-4 text-blue-600 border-gray-300 focus:ring-blue-500 hover:cursor-pointer" aria-labelledby="pricing-plans-0-label" aria-describedby="pricing-plans-0-description-0 pricing-plans-0-description-1">
                  <span id="pricing-plans-0-label" class="ml-3 font-medium" 
                  [ngClass]="{
                    'text-blue-900': selectedTemplate && selectedTemplate.id === template.id,
                    'text-gray-900': !selectedTemplate || selectedTemplate.id !== template.id
                  }">{{ template.template_name | titlecase}}</span>
                </div>

                <p id="pricing-plans-0-description-1" class="ml-6 pl-1 text-sm md:ml-0 md:pl-0 text-right" 
                [ngClass]="{
                    'text-blue-700': selectedTemplate && selectedTemplate.id === template.id,
                    'text-gray-500': !selectedTemplate || selectedTemplate.id !== template.id
                  }">{{ template.firm_template_tasks.length }} tasks</p>
              </label>
            </div>
        </fieldset>
    </div>

    <div class="mt-6">
      <div class="relative">
        <input
          class="mt-1 block pl-3 pr-10 py-2 text-base border border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
          angular-mydatepicker
          name="mydate"
          (click)="dp.toggleCalendar()"
          [options]="options"
          #dp="angular-mydatepicker"
          (dateChanged)="setDate($event)"
          placeholder="Select a start date"
          autocomplete="off"
          [disabled]="!selectedTemplate"
        />
      </div>  
  </div>
  </div>
  <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
    <button type="button"
    (click)="submit()"
    [disabled]="!(selectedTemplate && startDate)"
      class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm disabled:opacity-50">
      Apply
    </button>
    <button type="button"
      (click)="close()"
      class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
      Cancel
    </button>
  </div>