

  <div>
    <div class="px-4 py-5 sm:px-8">
      <h3 class="text-lg font-medium leading-5 text-gray-900">Apply a case template</h3>
      <!-- <p class="max-w-2xl mt-1 text-sm text-gray-500">Personal details and application.</p> -->
    </div>
    <div class="px-4 py-5 space-y-5 border-t border-gray-200 sm:px-8">
      <div>
        <fieldset>
            <legend class="sr-only">
              Case templates
            </legend>
            <div class="relative -space-y-px overflow-y-auto bg-white border rounded-md max-h-72 border-slate-200">
              <label class="relative flex flex-col p-4 border-t border-b cursor-pointer md:pl-4 md:pr-6 md:grid md:grid-cols-2 focus:outline-none" *ngFor="let template of caseTemplates; first as isFirst; last as isLast"
                [ngClass]="{
                    'bg-blue-50 border-blue-200 z-10': selectedTemplate && selectedTemplate.id === template.id,
                    'border-slate-200': !selectedTemplate || selectedTemplate.id !== template.id,
                    'border-t-0': isFirst,
                    'border-b-0': isLast
                }"
              >
                <div class="flex items-center text-sm">
                  <input [(ngModel)]="selectedTemplate" type="radio" name="pricing-plan" [value]="template" class="w-4 h-4 text-blue-600 border-slate-300 focus:ring-blue-500 hover:cursor-pointer" aria-labelledby="pricing-plans-0-label" aria-describedby="pricing-plans-0-description-0 pricing-plans-0-description-1">
                  <span id="pricing-plans-0-label" class="ml-3 font-medium" 
                  [ngClass]="{
                    'text-blue-900': selectedTemplate && selectedTemplate.id === template.id,
                    'text-slate-900': !selectedTemplate || selectedTemplate.id !== template.id
                  }">{{ template.template_name | titlecase}}</span>
                </div>

                <p id="pricing-plans-0-description-1" class="pl-1 ml-6 text-sm text-right md:ml-0 md:pl-0" 
                [ngClass]="{
                    'text-blue-700': selectedTemplate && selectedTemplate.id === template.id,
                    'text-slate-500': !selectedTemplate || selectedTemplate.id !== template.id
                  }">{{ template.firm_template_tasks.length }} tasks</p>
              </label>
            </div>
        </fieldset>
    </div>

    <div>
        <input
          class="block py-2 pl-3 pr-10 mt-1 text-base border rounded-md border-slate-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
          name="mydate"
          type="date"
          
          (change)="setDate($event)"
          placeholder="Select a start date"
          autocomplete="off"
          [disabled]="!selectedTemplate"
        />
  </div>
    </div>
  </div>