<div>
  <div class="px-4 py-5 sm:px-8">
    <div class="flex justify-between">
      <h3 class="text-lg font-medium leading-5 text-gray-900">Case Template</h3>

      <a (click)="share()" class="group flex items-center text-sm text-blue-600 hover:text-blue-900 font-medium space-x-2.5 hover:cursor-pointer">
        <svg class="w-5 h-5 text-blue-500 group-hover:text-blue-900" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM14 11a1 1 0 011 1v1h1a1 1 0 110 2h-1v1a1 1 0 11-2 0v-1h-1a1 1 0 110-2h1v-1a1 1 0 011-1z" />
        </svg>
        <span>
          Add to template community
        </span>
      </a>
    </div>
    <!-- <p class="max-w-2xl mt-1 text-sm text-gray-500">Personal details and application.</p> -->
  </div>
  <div class="px-4 pb-5 border-t border-gray-200 sm:px-8">
    <div class="grid grid-cols-1 mt-6 gap-y-6 gap-x-4 sm:grid-cols-6">
      <div class="col-span-1 sm:col-span-3">
        <label for="template-name" class="block text-sm font-medium text-slate-700">
          Template name
        </label>
        <div class="mt-1">
          <input [(ngModel)]="template.template_name" type="text" name="template-name" id="template-name"
            autocomplete="off"
            class="block w-full rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm border-slate-300">
        </div>
      </div>
  
      <div class="col-span-1 sm:col-span-2">
        <label for="template-name" class="block text-sm font-medium text-slate-700">
          Field of law
        </label>
        <div class="mt-1">
          <select [(ngModel)]="template.law_category"
            class="block w-full py-2 pl-3 pr-10 mt-1 text-base rounded-md border-slate-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
            <option *ngFor="let lawCategory of caseTemplateLawCategories" [ngValue]="lawCategory">{{lawCategory}}</option>
          </select>
        </div>
      </div>
  
      <div class="col-span-1 sm:col-span-1">
        <label for="template-name" class="block text-sm font-medium text-slate-700">
          State
        </label>
        <div class="mt-1">
          <select [(ngModel)]="template.state_category"
            class="block w-full py-2 pl-3 pr-10 mt-1 text-base rounded-md border-slate-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
            <option *ngFor="let state of usaStates" [ngValue]="state.abbreviation">{{state.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="mt-6 overflow-y-auto border rounded-md max-h-72 border-slate-200">
      <table class="min-w-full" *ngIf="template.firm_template_tasks.length">
        <thead>
          <tr>
            <th class="px-3 py-3 text-xs font-medium tracking-wider text-left uppercase bg-white border-r border-slate-200 text-slate-500 whitespace-nowrap">
              <span>Task</span>
            </th>
            <th class="px-3 py-3 text-xs font-medium tracking-wider text-left uppercase bg-white border-l border-r border-slate-200 text-slate-500 whitespace-nowrap">
              Assignee / role
            </th>
            <th class="hidden px-6 py-3 text-xs font-medium tracking-wider text-left uppercase bg-white border-l md:table-cell border-slate-200 text-slate-500 whitespace-nowrap">
              Days until due
            </th>
            <!-- <th class="hidden px-6 py-3 text-xs font-medium tracking-wider text-left uppercase bg-white border-l md:table-cell border-slate-200 text-slate-500 whitespace-nowrap">
      Duration
    </th> -->
            <th class="table-cell px-4 py-3 text-xs font-medium tracking-wider text-left uppercase bg-white text-slate-500 whitespace-nowrap">
            </th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <ng-container>
            <tr class="task-row group" *ngFor="let task of template.firm_template_tasks; let i=index; last as isLast">
              <td class="w-full px-1 py-1 text-sm font-medium border-t border-r max-w-0 whitespace-nowrap text-slate-900 border-slate-200" [class.border-b]="!isLast">
                <div class="flex items-center">
                  <editable-input [value]="task.name" placeholder="Enter a task name"
                    (onChange)="setDescription($event, i)" class="flex-1"></editable-input>
                  <app-task-file-button [files]="task.firm_template_task_files"
                    (fileSelect)="attachFilesToTask($event, i)" (editFile)="editTaskFile($event)"
                    (deleteFile)="deleteTaskFile($event, i)"></app-task-file-button>
                </div>
              </td>
              <td class="w-full px-1 py-1 text-sm font-medium border-t border-r whitespace-nowrap text-slate-900 border-slate-200" [class.border-b]="!isLast">
                <div *ngIf="filteredAssigneeGroups && filteredAssigneeGroups.length">
                  <ep-input-group *ngIf="task.user_id">
                    <ep-avatar ep-input-icon epSize="xsmall" [epSrc]="task.user?.profile_image" [epText]="task.user?.full_name"></ep-avatar>
  
                    <input ep-input [epEditable]="true" type="text" [ngModel]="task.user_id"
                      (ngModelChange)="filterStaffMembers($event)" [epAutocomplete]="auto" placeholder="Select assignee/role">
                  </ep-input-group>
  
                  <input *ngIf="task.firm_role_id || !task.user_id" ep-input [epEditable]="true" type="text" [ngModel]="task.firm_role_id"
                  (ngModelChange)="filterStaffMembers($event)" [epAutocomplete]="auto" placeholder="Select assignee/role">
  
                <ep-autocomplete #auto="epAutocomplete" [displayWith]="displayFn"
                  (optionSelected)="setAssignee($event, i)" panelWidth="auto">
                  <ep-option-group [label]="assigneeGroup.type" *ngFor="let assigneeGroup of filteredAssigneeGroups">
                    <ep-option *ngFor="let assignee of assigneeGroup.assignees" [value]="assignee.id" [displayValue]="assignee">
                      <ep-avatar *ngIf="assigneeGroup.type === 'Staff'" epSize="xsmall" [epSrc]="assignee.profile_image"
                      [epText]="assignee.name">
                    </ep-avatar>
                    <span class="block ml-3 font-normal truncate">
                      {{assignee.name | titlecase}}
                      </span>
                    </ep-option>
                  </ep-option-group>
                </ep-autocomplete>
                </div>
              </td>
  
              <td class="px-1 py-1 text-sm font-medium border-t text-slate-900 border-slate-200" [class.border-b]="!isLast">
                <div>
                  <input [(ngModel)]="task.no_of_days_from_start_date" type="number" min="0"
                    class="w-full px-2 py-1 text-sm text-center bg-transparent border border-transparent border-dashed text-slate-800 hover:bg-white hover:border-slate-300 focus:bg-white focus:border-transparent focus:shadow-sm">
                </div>
              </td>
              <!-- <td class="px-1 py-1 text-sm font-medium border-t border-b text-slate-900 border-slate-200">
            <div>
              <input [(ngModel)]="task.duration_minutes" [inputMask]="timeInputMask" class="w-full px-2 py-1 text-sm text-center bg-transparent border border-transparent border-dashed text-slate-800 hover:bg-white hover:border-slate-300 focus:bg-white focus:border-transparent focus:shadow-sm">
            </div>
          </td> -->
              <td class="px-1 py-1 text-sm font-medium border-t text-slate-900 border-slate-200" [class.border-b]="!isLast">
                <div class="flex items-center">
  
                  <button (click)="removeTemplateTask(i)" type="button"
                    class="flex items-center p-2 -m-2 rounded-full text-slate-300 hover:text-slate-600"
                    id="options-menu-0-button" aria-expanded="false" aria-haspopup="true">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd"
                        d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                        clip-rule="evenodd" />
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
  
        </tbody>
      </table>
  
      <div class="my-2 text-center" *ngIf="!template.firm_template_tasks.length">
        <svg class="w-12 h-12 mx-auto text-slate-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"
          aria-hidden="true">
          <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
        </svg>
        <h3 class="mt-2 text-sm font-medium text-slate-900">No tasks</h3>
        <p class="mt-1 text-sm text-slate-500">
          Get started by adding a task to this template.
        </p>
      </div>
  
    </div>
  
    <div class="mt-4 text-center">
      <button class="button-white-icon-sm" (click)="addTemplateTask();">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
            clip-rule="evenodd" />
        </svg>
        Add Task
      </button>
    </div>
  </div>
</div>
<!-- <div class="flex justify-between px-4 py-3 sm:px-6">
  <a (click)="share()" class="group flex items-center text-sm text-blue-600 hover:text-blue-900 font-medium space-x-2.5 hover:cursor-pointer">
    <svg class="w-5 h-5 text-blue-500 group-hover:text-blue-900" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
      <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM14 11a1 1 0 011 1v1h1a1 1 0 110 2h-1v1a1 1 0 11-2 0v-1h-1a1 1 0 110-2h1v-1a1 1 0 011-1z" />
    </svg>
    <span>
      Add to template community
    </span>
  </a>
  <div class="sm:flex sm:flex-row-reverse">
    <button type="button" (click)="save()" [disabled]="!this.template.template_name"
      class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white bg-blue-600 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm disabled:opacity-50">
      Save
    </button>
    <button type="button" (click)="close()"
      class="inline-flex justify-center w-full px-4 py-2 mt-3 text-base font-medium bg-white border rounded-md shadow-sm border-slate-300 text-slate-700 hover:bg-slate-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
      Cancel
    </button>
  </div>
</div> -->
