<div class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
  <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75 ep-fade-enter" aria-hidden="true" #backdropElement></div>

  <!-- This element is to trick the browser into centering the modal contents. -->
  <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
  <div
    #modalElement
    [ngClass]="config.epClassName!"
    [ngStyle]="config.epStyle!"
    [style.width]="config?.epWidth!"
    class="inline-block overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl ep-zoom-enter sm:my-8 sm:align-middle sm:max-w-xl sm:w-full"
  >
    <div class="bg-white">
      <ng-template cdkPortalOutlet></ng-template>
    </div>
    <div
      ep-modal-footer
      class="justify-end px-4 py-3 bg-gray-50 sm:px-6 sm:flex"
      [modalRef]="modalRef"
      (cancelTriggered)="onCloseClick()"
      (okTriggered)="onOkClick()"
    ></div>
  </div>
</div>
