<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-3xl mx-auto">
    <!-- Content goes here -->
    <form [formGroup]="customerAccountForm" class="space-y-8 divide-y divide-gray-200">
      <div class="space-y-8 divide-y divide-gray-200">
        <div class="pt-8">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">Monthly Payments</h3>
          </div>
          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="sm:col-span-3">
              <label for="last-name" class="block text-sm font-medium text-gray-700">
                Enable Monthly Payments
              </label>
              <!-- This example requires Tailwind CSS v2.0+ -->
              <div class="mt-1">
                <!-- Enabled: "bg-blue-600", Not Enabled: "bg-gray-200" -->
                <button
                  (click)="toggleMonthlyPayments(); submit()"
                  type="button"
                  [ngClass]="enableMonthlyPayments ? 'bg-blue-600' : 'bg-gray-200'"
                  class="relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                  role="switch"
                  aria-checked="false"
                >
                  <span class="sr-only">Use setting</span>
                  <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
                  <span
                    aria-hidden="true"
                    [ngClass]="enableMonthlyPayments ? 'translate-x-5' : 'translate-x-0'"
                    class="pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"
                  ></span>
                </button>
              </div>
            </div>

            <!-- REMOVED; MIGHT USE LATER; -->
            <!-- <div class="sm:col-span-4">
            
              <div>
                <label class="block text-sm font-medium text-gray-700">Due Date in Month</label>
                <select
                  formControlName="due_date"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <option (click)="submit()">1</option>
                  <option (click)="submit()">15</option>
                  <option (click)="submit()">25</option>
                </select>
              </div>
            </div> -->

            <div class="sm:col-span-4">
              <label class="block text-sm font-medium text-gray-700">
                Minimum Monthly Payment
              </label>
              <div class="mt-1">
                <input
                  type="number"
                  (blur)="submit()"
                  formControlName="min_payment"
                  class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
