<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
  <!-- Background backdrop, show/hide based on slide-over state. -->
  <div class="fixed inset-0"></div>

  <div class="fixed inset-0 overflow-hidden">
    <div class="absolute inset-0 overflow-hidden">
      <div class="pointer-events-none fixed inset-y-0 right-0 flex pl-10 sm:pl-16">
        <!--
            Slide-over panel, show/hide based on slide-over state.
  
            Entering: "transform transition ease-in-out duration-500 sm:duration-700"
              From: "translate-x-full"
              To: "translate-x-0"
            Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
              From: "translate-x-0"
              To: "translate-x-full"
          -->
        <div class="pointer-events-auto w-screen max-w-2xl">
          <form
            [formGroup]="invoiceForm"
            class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl"
          >
            <div class="flex-1">
              <!-- Header -->
              <div class="bg-gray-50 px-4 py-6 sm:px-6">
                <div class="flex items-start justify-between space-x-3">
                  <div class="space-y-1">
                    <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">
                      New Invoice
                    </h2>
                    <p class="text-sm text-gray-500">
                      Get started by filling in the information below to create your new invoice.
                    </p>
                  </div>
                  <div class="flex h-7 items-center">
                    <button
                      (click)="close()"
                      type="button"
                      class="text-gray-400 hover:text-gray-500"
                    >
                      <span class="sr-only">Close panel</span>
                      <!-- Heroicon name: outline/x -->
                      <svg
                        class="h-6 w-6"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M6 18L18 6M6 6l12 12"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>

              <!-- Divider container -->
              <div class="space-y-6 py-6 sm:space-y-0 sm:divide-y sm:divide-gray-200 sm:py-0">
                <!-- Project name -->
                <div
                  class="space-y-1 px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 sm:px-6 sm:py-5"
                >
                  <div>
                    <label
                      for="project-name"
                      class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2"
                      >Matter Name/Client Name
                    </label>
                  </div>
                  <div *ngIf="!matterOptions">
                    <svg
                      class="animate-spin -ml-1 mr-3 h-5 w-5 text-blue"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <circle
                        class="opacity-25"
                        cx="12"
                        cy="12"
                        r="10"
                        stroke="currentColor"
                        stroke-width="4"
                      ></circle>
                      <path
                        class="opacity-75"
                        fill="currentColor"
                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                      ></path>
                    </svg>
                  </div>
                  <div *ngIf="matterOptions" class="sm:col-span-2">
                    <app-combobox
                      [options]="matterOptions"
                      (onSelected)="onSelectedMatter($event.value)"
                    ></app-combobox>
                  </div>
                </div>

                <div
                  class="space-y-1 px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 sm:px-6 sm:py-5"
                >
                  <div>
                    <label
                      for="project-name"
                      class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2"
                      >Amount
                    </label>
                  </div>
                  <div class="sm:col-span-2">
                    <div>
                      <div class="mt-1 relative rounded-md shadow-sm">
                        <div
                          class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
                        >
                          <span class="text-gray-500 sm:text-sm"> $ </span>
                        </div>
                        <input
                          formControlName="amount"
                          [inputMask]="currencyMask"
                          type="text"
                          name="price"
                          id="price"
                          class="focus:ring-blue-500 focus:border-blue-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md"
                          placeholder="0.00"
                          aria-describedby="price-currency"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="space-y-1 px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 sm:px-6 sm:py-5"
                >
                  <div>
                    <label
                      for="project-name"
                      class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2"
                      >Due Date
                    </label>
                  </div>
                  <div class="sm:col-span-2">
                    <div>
                      <div class="mt-1 relative rounded-md shadow-sm">
                        <div
                          class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
                        >
                          <span class="text-gray-500 sm:text-sm"> $ </span>
                        </div>
                        <input
                          formControlName="due_date"
                          type="date"
                          class="focus:ring-blue-500 focus:border-blue-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Project description -->
                <div
                  class="space-y-1 px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 sm:px-6 sm:py-5"
                >
                  <div>
                    <label
                      for="project-description"
                      class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2"
                    >
                      Invoice Message
                    </label>
                  </div>
                  <div class="sm:col-span-2">
                    <textarea
                      formControlName="invoice_message"
                      id="project-description"
                      name="project-description"
                      rows="3"
                      class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
                    ></textarea>
                  </div>
                </div>

                <div
                  class="space-y-1 px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 sm:px-6 sm:py-5"
                >
                  <div>
                    <label class="block text-sm font-bold text-gray-900 sm:mt-px sm:pt-2">
                      Save as Draft
                    </label>
                  </div>
                  <div class="sm:col-span-2">
                    <p class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
                      When you save an invoice as a draft, this saves it but does not set up
                      automatic fufillment. You will then need to manually confirm that the invoice
                      is ready to be finalized.
                    </p>
                  </div>
                </div>

                <div
                  class="space-y-1 px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 sm:px-6 sm:py-5"
                >
                  <div>
                    <label class="block text-sm font-bold text-gray-900 sm:mt-px sm:pt-2">
                      Create
                    </label>
                  </div>
                  <div class="sm:col-span-2">
                    <p class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
                      When you Create an invoice, it saves the invoice and then automatilly gets
                      fufilled. This will finalize the invoice within an hour, and then will take
                      care of email notification and payment collection. When the invoice is
                      finalized, you will be able to view the invoice.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Action buttons -->
            <div class="flex-shrink-0 border-t border-gray-200 px-4 py-5 sm:px-6">
              <div class="flex justify-end space-x-3">
                <button
                  (click)="close()"
                  type="button"
                  class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                >
                  Cancel
                </button>

                <button
                  (click)="submit(false)"
                  type="button"
                  class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                >
                  Save as Draft
                </button>
                <button
                  (click)="submit(true)"
                  class="inline-flex justify-center rounded-md border border-transparent bg-blue-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                >
                  Create
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
