.ep-button-base {
  @apply focus:outline-none focus:ring-0 transition-all ease-linear duration-75;

  // Color palette
  &.ep-primary {
    @apply text-white font-semibold shadow bg-blue-500 hover:bg-blue-600 disabled:bg-blue-300;
  }

  &.ep-secondary {
    @apply border-transparent text-blue-700 font-semibold bg-blue-100 hover:bg-blue-200;
  }

  &.ep-white {
    @apply border border-gray-300 text-gray-700 font-medium shadow-sm bg-white hover:bg-gray-50;
    
    &.ep-sm {
      padding-top: calc(0.5rem - 1px);
      padding-bottom: calc(0.5rem - 1px);
      padding-left: calc(0.75rem - 1px);
      padding-right: calc(0.75rem - 1px);
    }
  }
  // Sizes
  &.ep-xs {
    @apply px-2.5 py-1.5 text-xs rounded;
  }
  &.ep-sm {
    @apply px-3 py-2 text-sm rounded-md;
  }
  &.ep-md {
    @apply px-4 py-2 text-sm rounded-md;
  }
  &.ep-lg {
    @apply px-4 py-2 text-base rounded-md;
  }
  &.ep-xl {
    @apply px-6 py-3 text-base rounded-md;
  }

  // Icon button style
  &.ep-icon-button {
    @apply inline-flex items-center;
    
    &.ep-sm {
      padding-top: calc(0.5rem - 1px);
      padding-bottom: calc(0.5rem - 1px);
      & > [ep-icon] {
        @apply -ml-0.5 mr-2 h-4 w-4;
      }
      & > [ep-trailing-icon] {
        @apply ml-2 -mr-0.5 h-4 w-4;
      }
    }
    &.ep-md {
      & > [ep-icon] {
        @apply -ml-1 mr-2 h-5 w-5;
      }
      & > [ep-trailing-icon] {
        @apply ml-2 -mr-1 h-5 w-5;
      }
    }
    &.ep-lg,
    &.ep-xl {
      & > [ep-icon] {
        @apply -ml-1 mr-3 h-5 w-5;
      }
      & > [ep-trailing-icon] {
        @apply ml-3 -mr-1 h-5 w-5;
      }
    }
  }

  // Round button style
  &.ep-round-button {
    @apply rounded-full;
    &.ep-xs {
      @apply px-3 py-1.5 text-xs;
    }
    &.ep-sm {
      @apply px-3.5 py-2 text-sm;
    }
    &.ep-md {
      @apply px-4 py-2 text-sm;
    }
    &.ep-lg {
      @apply px-5 py-2 text-base;
    }
    &.ep-xl {
      @apply px-6 py-3 text-base;
    }
  }

  // Circular button style
  &.ep-circular-button {
    @apply rounded-full;
    &.ep-xs {
      @apply p-1;
    }
    &.ep-sm {
      @apply p-1.5;
    }
    &.ep-md {
      @apply p-2;
    }
    &.ep-lg {
      @apply p-2;
    }
    &.ep-xl {
      @apply p-3;
    }
    &.ep-xs,
    &.ep-sm,
    &.ep-md {
      & > [ep-icon] {
        @apply h-5 w-5;
      }
    }
    &.ep-lg,
    &.ep-xl {
      & > [ep-icon] {
        @apply h-6 w-6;
      }
    }
  }
}
