@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
@import 'assets/scss/app.scss';
@import '~@angular/cdk/overlay-prebuilt.css';

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/assets/fonts/Inter/Inter-roman.var.woff2?v=3.18') format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/assets/fonts/Inter/Inter-italic.var.woff2?v=3.18') format('woff2');
}

body,
html {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
}

@supports (font-variation-settings: normal) {
  body,
  html {
    font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
  }
}

.datepicker-blue {
  & > .calendar-container {
    @apply absolute bg-white shadow-md font-medium rounded-lg z-10 border border-gray-200;
    border-radius: 0.5rem !important;
  }
  .month-year-text {
    @apply text-gray-700;
  }
  .control {
    &:hover {
    }
  }
  .day-name-unit {
    @apply text-gray-500;
  }
  .day-unit,
  .year-unit {
    @apply text-gray-700;

    &.is-prev-month {
      @apply text-gray-300;
    }
    &.is-today {
      background: #8ed0f0;
    }
    &:hover {
      @apply bg-gray-100;
    }
    &.is-selected {
      @apply text-blue-700 bg-blue-100;
    }
    &.is-disabled {
      color: #aaa8ab;
      &:hover {
        background: transparent;
      }
    }
  }
}

.datepicker-input {
  @apply bg-transparent text-sm text-gray-700 w-full px-2 py-1 border border-transparent border-dashed hover:bg-white hover:border-gray-300 focus:bg-white focus:border-transparent focus:shadow-sm;

  min-width: 12ch;

  &::placeholder {
    @apply text-gray-400 font-normal;
  }
}

.translate-y-tabs {
  transform: translateY(calc(100% - 2.75rem));
}

.cdk-overlay-backdrop {
  @apply bg-gray-500 bg-opacity-75 transition-opacity ease-in duration-300;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  @apply opacity-0;

  &.cdk-overlay-backdrop-showing {
    @apply opacity-100;
  }
}

.ngx-select {
  @apply mt-1 relative;

  & > .ngx-select__search {
    @apply relative h-full w-full pl-3 pr-10 py-1 text-left border-transparent focus:outline-none focus:outline-none focus:ring-0 focus:border-transparent sm:text-sm;
  }

  & > ul.ngx-select__choices {
    @apply absolute z-10 mt-1 w-full bg-white shadow-lg max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm;

    & > .ngx-select__item-group {
      & > .ngx-select__item {
        @apply text-gray-900 cursor-default select-none relative py-1 pl-3 pr-9;

        &.ngx-select__item_active {
          @apply text-white bg-blue-600;
        }
      }
    }
  }

  & > .ngx-select__selected {
    & > .ngx-select__toggle {
      @apply px-2 py-1 border border-transparent border-dashed w-full;

      &:hover {
        color: inherit;
        @apply bg-white border-gray-300;
      }
    }
  }
}
