@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
@import 'assets/scss/app.scss';
@import '@angular/cdk/overlay-prebuilt.css';

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/assets/fonts/Inter/Inter-roman.var.woff2?v=3.18') format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/assets/fonts/Inter/Inter-italic.var.woff2?v=3.18') format('woff2');
}

body,
html {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
    font-feature-settings: "cv02","cv03","cv04","cv11";
}

@supports (font-variation-settings: normal) {
  body,
  html {
    font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
      font-feature-settings: "cv02","cv03","cv04","cv11";
  }
}

.hot-toast-w{
  &>.hot-toast-icon {
    margin-right: 0.5rem !important;
  }

  &>.hot-toast-message {
    justify-content: flex-start !important;
    margin: 0 !important;
  }

  &>.hot-toast-close-btn {
    padding: .25rem !important;
    margin: 0 !important;
    align-self: center !important;
  }
}

.ng-scroll-content {
  max-width: 100%;
}