<header class="bg-gray-50 py-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 xl:flex xl:items-center xl:justify-between">
    <div class="flex-1 min-w-0">
      <h1 class="mt-2 text-xl font-bold leading-7 text-gray-900">
        Task Templates
      </h1>
    </div>
    <div class="mt-5 flex xl:mt-0 xl:ml-4">
      <span class="sm:ml-3 relative z-0">
        <div>
          <div class="relative">
            <div class="inline-flex shadow-sm rounded-md divide-x divide-blue-600">

            </div>
          </div>
        </div>
      </span>
    </div>
  </div>
</header>

<main class="pb-16">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <app-task-template-list></app-task-template-list>
  </div>
</main>