<div
  class="
    bg-white
    border-b border-gray-200
    px-4
    py-3.5
    sm:flex sm:items-center sm:justify-between sm:px-6
    lg:px-8
  "
>
  <div class="flex-1 flex justify-between">
    <div class="flex-1 flex items-center">
      <h1 class="text-lg font-medium leading-6 text-gray-900 sm:truncate">
        Client Directory
      </h1>

      <form class="flex-1 w-full flex ml-12" action="#" method="GET">
        <label for="search-field" class="sr-only">Search</label>
        <div class="relative w-full text-gray-400 focus-within:text-gray-600">
          <div
            class="
              absolute
              inset-y-0
              left-0
              flex
              items-center
              pointer-events-none
            "
            aria-hidden="true"
          >
            <!-- Heroicon name: solid/search -->
            <svg
              class="h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <input
            id="search-field"
            [(ngModel)]="clientFilterValues.searchTerm"
            (ngModelChange)="filter()"
            name="search-field"
            class="
              block
              w-full
              h-full
              pl-5
              pr-3
              py-0
              border-transparent
              text-gray-900
              placeholder-gray-500
              focus:outline-none focus:ring-0 focus:border-transparent
              sm:text-sm
            "
            placeholder="Search..."
            type="search"
          />
        </div>
      </form>
    </div>
    <div class="ml-4 flex items-center md:ml-6">
      <div>
        <button
          ep-icon-button
          (click)="addClient()"
        >
          <svg
            ep-icon
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 22"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v6m0 0v6m0-6h6m-6 0H6"
            />
          </svg>
          Add Client
        </button>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-1 overflow-y-auto">
  <main
    class="flex flex-col flex-1 relative z-0 focus:outline-none" style="flex-grow: 3"
  >
    <!-- Projects table (small breakpoint and up) -->
    <div class="hidden sm:block flex-1 bg-white">
      <div class="align-middle inline-block min-w-full">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Name
              </th>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Phone
              </th>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Email
              </th>

              <th
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                  text-center
                "
              >
                Leads/Cases
              </th>

              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <ng-container *ngIf="clients$ | async as clients">
              <tr
                *ngFor="
                  let client of clients | slice: paginator.start:paginator.end
                "
                class="hover:cursor-pointer hover:bg-gray-50"
                [class.bg-gray-50]="selectedClient === client"
                (click)="setSelectedClient(client)"
              >
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <ep-avatar
                      epSize="small"
                      [epSrc]="client.profile_image"
                      [epText]="client.full_name"
                    ></ep-avatar>
                    <div class="ml-2">
                      <div class="text-sm font-medium text-gray-900">
                        {{ client.full_name | titlecase }}
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">
                    {{ client.phone }}
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">
                    {{ client.email }}
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-center">
                  <div class="text-sm text-gray-900">
                    {{ client.client.length }}
                  </div>
                </td>

                <td
                  class="
                    px-6
                    py-4
                    whitespace-nowrap
                    text-right text-sm
                    font-medium
                    text-gray-400
                  "
                >
                <button
                type="button"
                class="
                  -my-2
                  p-2
                  rounded-full
                  flex
                  items-center
                  text-gray-400
                  hover:text-gray-600
                "
                id="menu-0-button"
                aria-expanded="false"
                aria-haspopup="true"
                [class.text-gray-600]="selectedClient === client"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
              </button>
                </td>
              </tr>
            </ng-container>

            <!-- More people... -->
          </tbody>
        </table>
      </div>

      <ng-container *ngIf="clients$ | async as clients">
        <div *ngIf="!clients.length" class="text-center mt-24">
          <svg
            class="mx-auto h-12 w-12 text-gray-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              vector-effect="non-scaling-stroke"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"
            />
          </svg>
          <h3 class="mt-2 text-sm font-medium text-gray-900">No clients</h3>
          <p class="mt-1 text-sm text-gray-500">
            Get started by adding a client.
          </p>
          <div class="mt-6">
            <button
              type="button"
              class="
                inline-flex
                items-center
                px-4
                py-2
                border border-transparent
                shadow-sm
                text-sm
                font-medium
                rounded-md
                text-white
                bg-blue-600
                hover:bg-blue-700
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-blue-500
              "
            >
              <!-- Heroicon name: solid/plus -->
              <svg
                class="-ml-1 mr-2 h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                  clip-rule="evenodd"
                />
              </svg>
              Add Client
            </button>
          </div>
        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="clients$ | async as clients">
      <ep-paginator
        [epPageSize]="10"
        [epTotalSize]="clients.length"
        (epCurrentPage)="setPagination($event)"
      ></ep-paginator>
    </ng-container>
    <!-- End main area -->
  </main>
  
  <aside class="flex-shrink-0 relative z-0 overflow-y-auto focus:outline-none xl:order-last border-l border-gray-200 ease-in-out duration-500" style="transition: all 500ms;" [class.opacity-0]="!selectedClient" [class.flex-0]="!selectedClient" [class.flex-1]="selectedClient" [class.opacity-100]="selectedClient" [class.min-width-aside]="selectedClient">
    <article *ngIf="selectedClient">
      <!-- Profile header -->
      <div class="md:flex md:items-center md:justify-between md:space-x-5 p-4 sm:p-6 lg:p-8 pb-0">
        <div class="flex items-start space-x-5">
          <div class="flex-shrink-0">
            <div class="relative">
              <ep-avatar
              epSize="xlarge"
              [epSrc]="selectedClient.profile_image"
              [epText]="selectedClient.full_name"
            ></ep-avatar>
            <span class="absolute inset-0 shadow-inner rounded-full" aria-hidden="true"></span>
            </div>
          </div>
          <!--
            Use vertical padding to simulate center alignment when both lines of text are one line,
            but preserve the same layout if the text wraps without making the image jump around.
          -->
          <div>
            <h1 class="text-2xl font-bold text-gray-900">{{selectedClient.full_name | titlecase}}</h1>
            <p class="text-sm font-medium text-gray-500">Added as a client on <span class="text-gray-900">{{selectedClient.client_firm[0].client.created_at | date}}</span></p>
          </div>
        </div>
      </div>

      <!-- Tabs -->
      <div>
        <div class="border-b border-gray-200">
          <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
            <nav class="-mb-px flex space-x-8" aria-label="Tabs">
              <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
              <a (click)="asideTab = 'profile'" class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm hover:cursor-pointer" aria-current="page" [ngClass]="{
                'border-indigo-500 text-gray-900': asideTab === 'profile',
                'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300': asideTab !== 'profile'
              }">
                Profile
              </a>

              <a (click)="asideTab = 'cases'" class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm hover:cursor-pointer" 
              [ngClass]="{
                'border-indigo-500 text-gray-900': asideTab === 'cases',
                'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300': asideTab !== 'cases'
              }">
                Leads/Cases
              </a>

              <a (click)="asideTab = 'documents'" class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm hover:cursor-pointer"
              [ngClass]="{
                'border-indigo-500 text-gray-900': asideTab === 'documents',
                'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300': asideTab !== 'documents'
              }">
                Documents
              </a>
            </nav>
          </div>
        </div>
      </div>

      <!-- Description list -->
      <div class="mt-6 max-w-5xl mx-auto px-4 sm:px-6 lg:px-8" *ngIf="asideTab === 'profile'">
        <dl class="grid grid-cols-1 gap-x-4 gap-y-8">
          <div>
            <dt class="text-sm font-medium text-gray-500">
              Email
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              {{selectedClient.email}}
            </dd>
          </div>

          <div>
            <dt class="text-sm font-medium text-gray-500">
              Phone
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              {{selectedClient.phone}}
            </dd>
          </div>

          <div>
            <dt class="text-sm font-medium text-gray-500">
              Date of birth
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              {{selectedClient.dob}}
            </dd>
          </div>

          <div>
            <dt class="text-sm font-medium text-gray-500">
              Address
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              <div>{{selectedClient.address}}</div>
              <div>{{selectedClient.city}} {{selectedClient.state}}</div>
              <div>{{selectedClient.zip}}</div>
            </dd>
          </div>
        </dl>
      </div>

      <div class="max-w-5xl mx-auto" *ngIf="asideTab === 'cases'">
          <ul role="list" class="divide-y divide-gray-200 overflow-y-auto">
            <li *ngFor="let matter of selectedClientMatters" class="hover:bg-gray-100 hover:cursor-pointer" (click)="openTab(matter)">
              <a class="block">
                <div class="px-4 py-4">
                  <div class="flex items-center justify-between">
                    <p class="text-sm font-medium text-blue-700 truncate">
                      {{matter.legal_area?.name}}
                    </p>
                    <div class="ml-2 flex-shrink-0 flex">
                      <p class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                        {{matter.matter_type | titlecase}}
                      </p>
                    </div>
                  </div>
                  <div class="mt-2">
                    <div>
                      <p class="flex items-center text-sm text-gray-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
                        </svg>
                        {{matter.attorney.full_name | titlecase}}
                      </p>
                      <p class="mt-2 flex items-center text-sm text-gray-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                          <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z" />
                          <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd" />
                        </svg>
                        <ng-container
                        *ngIf="matter.matter_tasks.length"
                      >
                        <span *ngIf="!matter.matter_tasks[0].completed">
                          Next task due on {{ matter.matter_tasks[0].due | date }}
                        </span>
    
                        <span *ngIf="matter.matter_tasks[0].completed">
                          Tasks completed
                        </span>
                      </ng-container>
                      <span
                        *ngIf="!matter.matter_tasks.length"
                      >
                        No tasks
                      </span>
                      </p>
                    </div>
                    <div class="mt-2 flex items-center text-sm text-gray-500">
                      <!-- Heroicon name: solid/calendar -->
                      <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                      </svg>
                      <p>
                        Opened on
                        <time>{{matter.created_at | date}}</time>
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
      </div>
    </article>
  </aside>
</div>
