<form [formGroup]="flatRateForm">
  <div class="min-h-screen bg-gray-100">
    <!--
          When the mobile menu is open, add `overflow-hidden` to the `body` element to prevent double scrollbars
      
          Open: "fixed inset-0 z-40 overflow-y-auto", Closed: ""
        -->

    <div class="py-6">
      <div class="max-w-3xl mx-auto sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="hidden lg:block lg:col-span-3 xl:col-span-2">
          <nav aria-label="Sidebar" class="sticky top-6 divide-y divide-gray-300">
            <!-- Your content -->
          </nav>
        </div>
        <main class="lg:col-span-9 xl:col-span-6">
          <!-- Your content -->
          <p>
            ATTORNEY FLAT FEE AGREEMENT<br /><br />THIS AGREEMENT (&quot;Agreement&quot;) is made on
            {{flatRateForm.value.date | date}}, in {{flatRateForm.value.county}} County, {{flatRateForm.value.state}}, between {{flatRateForm.value.client}} (&quot;Client&quot;), {{flatRateForm.value.attorney}}
            and {{flatRateForm.value.lawFirm}}, of {{flatRateForm.value.attorneyCity}}, {{flatRateForm.value.attorneyCounty}} County, {{flatRateForm.value.attorneyState}}
            (hereinafter known as &quot;Attorney&quot;):<br /><br />In consideration of the mutual
            promises herein contained, the parties hereto agree as follows:<br /><br />I.
            &nbsp;PURPOSE OF REPRESENTATION<br /><br />The Client hereby retains and employs the
            Attorney to represent client for the following:<br /><br />{{flatRateForm.value.description}}<br /><br />This
            is a legal contract, and the terms and conditions of our agreement with you are
            described in some detail. &nbsp;This contract not only establishes the terms of our
            agreement between Attorney and Client, but it will also help to prevent any
            misunderstandings. &nbsp;When you sign and return a copy of this agreement, you are
            agreeing to the terms and conditions of representation which are described in this
            contract.<br /><br />II. &nbsp;AGREEMENT<br /><br />It is the Attorney&rsquo;s strict
            policy to obtain the written approval of every client to the terms and conditions of
            representation; therefore, we will not begin drafting your documents on your behalf
            until you have signed and returned a copy of this contract and have paid the fee.
            &nbsp;Therefore, until you sign and return a copy of this contract, and pay the fee
            described in this contract, there is no agreement or obligation between us concerning
            your legal representation. We cannot guarantee any expected outcome or conclusion of the
            legal matter due to numerous and complicated factors which are beyond our control.<br /><br />Client
            and Attorney agree that either party, at any time and for any reason, may terminate this
            Agreement. If Client or Attorney terminates this Agreement and a lawsuit has been filed,
            Client agrees to pay attorney whole bill until Attorney has been released by the Judge.
            Attorney and Client agree that an Attorney my without his work product from Client until
            the bill is paid in full.<br /><br />III. &nbsp;FEE FOR ITEMS CONTAINED IN EXHIBIT A<br /><br />This
            agreement will require payment of a flat fee. &nbsp;A flat fee of $ {{flatRateForm.value.fee}} has been
            agreed to by Attorney and Client for the items contained in Exhibit A.<br /><br />Any
            work done outside of the description contained in Exhibit A will be billed according to
            section IV. Once flat fee is paid and contract is signed, the flat fee is earned, and
            flat fee is non-refundable.<br /><br /><br />IV. &nbsp;HOURLY RATE FOR ATTORNEY AND
            STAFF<br /><br />Attorney uses an online software, EPFirms, to track Attorney and
            Staffs&rsquo; hours. Client agrees to the hourly rates for all Attorneys and Staff
            listed in client&rsquo;s client portal with EPFirms. Client agrees to any changes to
            Attorney or Staffs&rsquo; hourly rate listed on EPFirms client portal throughout the
            representation.<br /><br />V. &nbsp;EPFIRMS BILLING &amp; PAYMENT SYSTEM<br /><br />Client
            agrees to be charged the same rate as all other clients which the Attorney enters into
            EPFirms automated billing system. Client agrees to the minimum billing time for each
            task of .25 of an hour increment and the hourly charge is the time that the attorney
            allocates for the matters performed on your behalf. Attorney uses EPFirms chat-to-text
            function to communicate with client. Client agrees that each text will be an expense of
            $1 per text and a minimum of 5 minutes of Attorney or Staff&rsquo;s hourly rate per
            message. &nbsp;<br /><br />EPFirms incorporates Stripes as a secure payment system to
            guarantee all transaction are secure. Client and Attorney agrees that all terms and
            conditions for payment will be part of this Agreement. Client and Attorney agree to all
            EPFirms terms and conditions.<br /><br />VI. ADDITIONAL CHARGES<br /><br />The
            attorney&apos;s fees do not include court costs, depositions, appraisal fees, mileage
            charges, parking expense, long distance telephone charges, postage, copy and certified
            copy expenses, delivery charges, and any other out-of-pocket costs. &nbsp; These costs
            will be treated as additional expenses and will be included in our bill.<br /><br />Depending
            on the expenses anticipated in handling the matter, we may also require you to advance
            costs and place a retainer to cover the same. &nbsp;You agree to pay those reasonable
            expenses. &nbsp;If payments are not made promptly to us as requested, we reserve the
            right to immediately withdraw from representing you in any and all matters that the law
            firm is handling. &nbsp;You agree to the withdrawal.<br /><br />VII. OTHER ISSUES<br /><br />This
            Agreement is performable in [ATTORNEY COUNTY]. &nbsp;All monies owed hereunder are to be
            paid through EPFirms online portal system or paid directly to our office.
            &nbsp;Jurisdiction and venue of any dispute arising hereunder are also performable in
            [ATTORNEY COUNTY].<br /><br />You authorize us with your power of attorney to sign court
            or other legal documents which may be required in the course of the case. &nbsp;Also,
            you also will designate our law firm as your attorney-at-law and in-fact to act in your
            name, sign legal pleadings on your behalf and to perform the acts necessary and
            appropriate to affect the above-described legal representation.<br /><br />If the
            attorney were to pass away or no longer practicing law, this contract is enforceable by
            [LAW FIRM] or any subsequent law firm which may purchase it. If both the law firm no
            longer exists and the attorney no longer is practicing law, then client understands that
            the attorney nor law firm can revise the plan. &nbsp;<br /><br />TAX DISCLOSURE AND
            ACKNOWLEDGMENT:<br /><br />THE CLIENT IS ADVISED TO OBTAIN INDEPENDENT AND COMPETENT TAX
            ADVICE REGARDING LEGAL AND BUSINESS MATTERS SINCE LEGAL AND BUSINESS TRANSACTIONS CAN
            GIVE RISE TO TAX CONSEQUENCES. IF YOU NEED HELP, WE CAN GET YOU TO A TAX
            PROFESSIONAL.<br /><br />THE UNDERSIGNED LAW FIRM AND ATTORNEY HAVE NOT AGREED TO RENDER
            ANY TAX ADVICE AND ARE NOT RESPONSIBLE FOR ANY ADVICE REGARDING TAX MATTERS OR
            PREPARATION OF TAX RETURNS, OR OTHER FILINGS, INCLUDING, BUT NOT LIMITED TO, STATE AND
            FEDERAL INCOME AND INHERITANCE TAX RETURNS.<br /><br />FURTHERMORE, THE CLIENT SHOULD
            OBTAIN PROFESSIONAL HELP REGARDING THE VALUATION AND LOCATION OF ALL ASSETS WHICH MAY BE
            THE SUBJECT OF A LEGAL MATTER INCLUDING BUT NOT LIMITED TO: &nbsp;PROPERTY OF ANY
            ESTATE, PENSIONS, EMPLOYMENT BENEFIT AND PROFIT-SHARING RIGHTS THAT MAY BE CONTROLLED BY
            ANY OTHER PARTY TO THE LEGAL MATTER.<br /><br /><br />Please sign in the space provided
            below so that we may begin working on your behalf.<br /><br /><br />SIGNED on this
            {{flatRateForm.value.date}}.<br /><br /><br />&nbsp; &nbsp;<br />{{flatRateForm.value.client}}<br /><br />SIGNED on this
            {{flatRateForm.value.date}}.<br /><br />{{flatRateForm.value.attorney}}<br /><br /><br />BY: &nbsp; &nbsp; &nbsp;<br />Attorney<br />ATTORNEY-CLIENT
            COMMUNICATION: &nbsp;THIS DOCUMENT AND ITS<br />CONTENTS CONSTITUTE LEGALLY PRIVILEGED
            INFORMATION<br /><br />EXHIBIT &quot;A&quot; Flat Fee Covered<br /><br /><br />
            <ol *ngFor="let item of flatRateForm.value.coveredItems.split(',')">
                <li>{{item}}</li>
            </ol>
            
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
          
        </main>
        <aside class="hidden xl:block xl:col-span-4">
          <div class="sticky top-6 space-y-4">
            <!-- Your content -->
            <div class="sm:col-span-4">
              <label class="block text-sm font-medium text-gray-700"> Date </label>
              <div class="mt-1">
                <input
                  type="date"
                  formControlName="date"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                />
              </div>
            </div>

            <div class="sm:col-span-4">
              <label class="block text-sm font-medium text-gray-700"> County </label>
              <div class="mt-1">
                <input
                  type="text"
                  formControlName="county"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                />
              </div>
            </div>

            <div class="sm:col-span-4">
              <label class="block text-sm font-medium text-gray-700"> State </label>
              <div class="mt-1">
                <input
                  type="text"
                  formControlName="state"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                />
              </div>
            </div>

            <div class="sm:col-span-4">
              <label class="block text-sm font-medium text-gray-700"> Client </label>
              <div class="mt-1">
                <input
                  type="text"
                  formControlName="client"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                />
              </div>
            </div>

            <div class="sm:col-span-4">
              <label class="block text-sm font-medium text-gray-700"> Attorney </label>
              <div class="mt-1">
                <input
                  type="text"
                  formControlName="attorney"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                />
              </div>
            </div>

            <div class="sm:col-span-4">
              <label class="block text-sm font-medium text-gray-700"> Law Firm </label>
              <div class="mt-1">
                <input
                  type="text"
                  formControlName="lawFirm"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                />
              </div>
            </div>

            <div class="sm:col-span-4">
              <label class="block text-sm font-medium text-gray-700"> Attorney City </label>
              <div class="mt-1">
                <input
                  type="text"
                  formControlName="attorneyCity"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                />
              </div>
            </div>

            <div class="sm:col-span-4">
              <label class="block text-sm font-medium text-gray-700"> Attorney County </label>
              <div class="mt-1">
                <input
                  type="text"
                  formControlName="attorneyCounty"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                />
              </div>
            </div>

            <div class="sm:col-span-4">
              <label class="block text-sm font-medium text-gray-700"> Attorney State </label>
              <div class="mt-1">
                <input
                  type="text"
                  formControlName="attorneyState"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                />
              </div>
            </div>

            <div class="sm:col-span-6">
              <label for="about" class="block text-sm font-medium text-gray-700">
                Description
              </label>
              <div class="mt-1">
                <textarea
                  id="about"
                  formControlName="description"
                  name="about"
                  rows="3"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md"
                ></textarea>
              </div>
              <p class="mt-2 text-sm text-gray-500">What type of case is it?</p>
            </div>

            <div>
              <label for="price" class="block text-sm font-medium text-gray-700"
                >Flat Rate Fee</label
              >
              <div class="mt-1 relative rounded-md shadow-sm">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                  <span class="text-gray-500 sm:text-sm"> $ </span>
                </div>
                <input
                  type="number"
                  formControlName="fee"
                  step="0.01"
                  name="price"
                  id="price"
                  class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md"
                  placeholder="0.00"
                />
              </div>
            </div>

            <div class="sm:col-span-6">
              <label for="about" class="block text-sm font-medium text-gray-700">
                Covered Items
              </label>
              <div class="mt-1">
                <textarea
                  id="about"
                  formControlName="coveredItems"
                  name="about"
                  rows="3"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md"
                ></textarea>
              </div>
              <p class="mt-2 text-sm text-gray-500">Seperate items with commas.</p>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</form>
