<div>
  <img class="mx-auto h-12 w-auto" src="assets/logo/blue-short.png" alt="Workflow">

  <h2 class="text-center mt-6 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
    <span class="block">Ready to dive in?</span>
    <span class="block text-blue-600">Request an invite today.</span>

    <!-- Temporarily removed for beta signups -->
    <!-- <span class="block text-blue-600">Start your free trial today.</span> -->
  </h2>
</div>

<div class="shadow overflow-hidden sm:rounded-lg mt-10" *ngIf="!submitted">

  <div class="px-4 py-5 bg-white space-y-6 sm:p-6">

    <form [formGroup]="inviteForm">
      <div class="grid grid-cols-6 gap-6">
        <div class="col-span-6">
          <label for="firm-name" class="block text-sm font-medium text-gray-700">Firm name</label>
          <input formControlName="firm_name" type="text" name="firm-name" id="firm-name" autocomplete="firm-name"
            class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
        </div>

        <div class="col-span-6 sm:col-span-3">
          <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
          <input formControlName="first_name" type="text" name="first-name" id="first-name" autocomplete="given-name"
            class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
        </div>

        <div class="col-span-6 sm:col-span-3">
          <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
          <input formControlName="last_name" type="text" name="last-name" id="last-name" autocomplete="family-name"
            class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
        </div>

        <div class="col-span-6">
          <label for="email-address" class="block text-sm font-medium text-gray-700">Email address</label>
          <input formControlName="email" type="text" name="email-address" id="email-address" autocomplete="email"
            class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
        </div>

        <div class="col-span-6">
          <label for="phone" class="block text-sm font-medium text-gray-700">Phone</label>
          <input formControlName="phone" type="text" name="phone" id="phone" [inputMask]="phoneInputMask"
            class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
        </div>

        <!-- Temporarily removed for beta signups -->
        <!-- <div class="col-span-6">
                              <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                              <input formControlName="password" type="password" name="password" id="password" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div> -->
      </div>
    </form>
    <div>
      
      <!-- Temporarily removed for beta signups -->
      <!-- <button (click)="handleSubmit()"
        class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        Create account
      </button> -->
      <button (click)="handleInviteSubmit()"
        class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        Request an invite
      </button>
    </div>

    <div class="hidden sm:block" aria-hidden="true">
      <div>
        <div class="border-t border-gray-200"></div>
      </div>
    </div>

    <div>
      <p class="text-center text-sm text-gray-600">
        Have an account?
        <a routerLink="/login" class="font-medium text-blue-600 hover:text-blue-500">
          Sign in
        </a>
      </p>
    </div>
    <!-- 
                      <div class="px-4 sm:px-0">
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Payment</h3>
                        <p class="mt-1 text-sm text-gray-600">
                          Subscription: $199/mo
                        </p>
                      </div>
                  
                <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
                        <div class="grid grid-cols-6 gap-6 mb-6">
                          <div class="col-span-6 sm:col-span-6">
                            <label for="cardholder" class="block text-sm font-medium text-gray-700">Cardholder name</label>
                            <input formControlName="cardholder" type="text" name="cardholder" id="cardholder" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                          </div>
          
                          <div class="col-span-6 sm:col-span-6">
                            <label for="cardholderAddress" class="block text-sm font-medium text-gray-700">Cardholder address</label>
                            <input formControlName="cardholderAddress" type="text" name="cardholderAddress" id="cardholderAddress" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                          </div>
          
                        </div>
                        <ngx-stripe-card
                        [options]="cardOptions"
                        [elementsOptions]="elementsOptions"
                        containerClass="px-3 py-3 mt-1 block w-full shadow-sm sm:text-sm border border-gray-300 rounded-md"
                      ></ngx-stripe-card>
                  </form> -->
  </div>
</div>

<div class="rounded-md bg-green-50 p-4 mt-10" *ngIf="submitted && !error">
  <div class="flex">
    <div class="flex-shrink-0">
      <!-- Heroicon name: solid/check-circle -->
      <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
        aria-hidden="true">
        <path fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
          clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-medium text-green-800">
        Your request has been sent
      </h3>
      <div class="mt-2 text-sm text-green-700">
        <p>
          You will now be redirected to login
        </p>
      </div>
    </div>
  </div>
</div>

<div class="rounded-md bg-red-50 p-4 mt-10" *ngIf="submitted && error">
  <div class="flex">
    <div class="flex-shrink-0">
      <!-- Heroicon name: solid/x-circle -->
      <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
        aria-hidden="true">
        <path fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
          clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-medium text-red-800">
        There was an error submitting the form
      </h3>
      <div class="mt-2 text-sm text-red-700">
        <p>Try again at a later time</p>
      </div>
    </div>
  </div>
</div>