<!-- This example requires Tailwind CSS v2.0+ -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
  <nav class="bg-blue-600">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-blue-700 text-white", Default: "text-white hover:bg-indigo-500 hover:bg-opacity-75" -->
              <a (click)="setState('flat-rate')" class="bg-blue-700 text-white px-3 py-2 rounded-md text-sm font-medium" >Flat Rate</a>

              <a (click)="setState('hourly')"  class="text-white hover:bg-blue-500 hover:bg-opacity-75 px-3 py-2 rounded-md text-sm font-medium">Hourly</a>

              <a  class="text-white hover:bg-blue-500 hover:bg-opacity-75 px-3 py-2 rounded-md text-sm font-medium">Contingency</a>

              <a  class="text-white hover:bg-blue-500 hover:bg-opacity-75 px-3 py-2 rounded-md text-sm font-medium">Insurance</a>

              <a  class="text-white hover:bg-blue-500 hover:bg-opacity-75 px-3 py-2 rounded-md text-sm font-medium">Monthly Payments</a>
            </div>
          </div>
        </div>
        
       
      </div>
    </div>

   
  </nav>

  <!-- <header class="bg-white shadow-sm">
    <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
<div>
  <h3 class="text-lg leading-6 font-medium text-gray-900">Last 30 days</h3>
  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">Total Subscribers</dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">71,897</dd>
    </div>

    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">Avg. Open Rate</dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">58.16%</dd>
    </div>

    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">Avg. Click Rate</dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">24.57%</dd>
    </div>
  </dl>
</div>

    </div>
  </header> -->
  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <!-- Replace with your content -->
      <app-flat-rate-view *ngIf="state === 'flat-rate'"></app-flat-rate-view>
      <app-hourly-rate-view *ngIf="state === 'hourly'"></app-hourly-rate-view>
      <!-- /End replace -->
    </div>
  </main>
</div>
