<!-- WORKFLOW DIV -->
<div class="m-2">


  <div class="min-h-half">
    <nav class="bg-white">
      <div class="mx-auto px-0 sm:px-0 lg:px-0">
        <div class="flex justify-center h-10">
          <div class="flex items-center">
            <div class="flex-shrink-0"></div>
            <div class="hidden md:block">
              <div class="flex items-baseline space-x-4">
                <!-- Current: "bg-blue-700 text-white", Default: "text-white hover:bg-blue-500 hover:bg-opacity-75" -->
                <a
                  (click)="setState('personal representative')"
                  class="text-black hover:bg-blue-500 hover:bg-opacity-75 px-3 py-2 rounded-md text-xs font-medium tracking-wider text-left uppercase text-slate-500 border-slate-200"
                  [ngClass]="
                    state === 'personal representative'
                      ? 'bg-blue-100 text-black text-sm'
                      : 'text-gray hover:bg-blue-200 hover:bg-opacity-75'
                  "
                  aria-current="page"
                >
                  Personal Representative
                </a>

                <a
                  (click)="setState('decedent information')"
                  [ngClass]="
                    state === 'decedent information'
                      ? 'bg-blue-100 text-black text-sm'
                      : 'text-gray hover:bg-blue-200 hover:bg-opacity-75'
                  "
                  class="text-black hover:bg-blue-300 hover:bg-opacity-75 px-3 py-2 rounded-md text-xs font-medium tracking-wider text-left uppercase text-slate-500 border-slate-200"
                  >Decedent Information</a
                >

                <a
                  (click)="setState('decedent property')"
                  [ngClass]="
                    state === 'decedent property'
                      ? 'bg-blue-100 text-black text-sm'
                      : 'text-gray hover:bg-blue-200 hover:bg-opacity-75'
                  "
                  class="text-black hover:bg-blue-300 hover:bg-opacity-75 px-3 py-2 rounded-md text-xs font-medium tracking-wider text-left uppercase text-slate-500 border-slate-200"
                  >Property</a
                >


                <a
                *ngIf="clientMode === false"
                  (click)="setState('questions')"
                  [ngClass]="
                    state === 'questions'
                      ? 'bg-blue-100 text-black text-sm'
                      : 'text-gray hover:bg-blue-200 hover:bg-opacity-75'
                  "
                  class="text-black hover:bg-blue-300 hover:bg-opacity-75 px-3 py-2 rounded-md text-xs font-medium tracking-wider text-left uppercase text-slate-500 border-slate-200"
                  >Questions</a
                >

                
              </div>
            </div>
          </div>
          <div class="hidden md:block"></div>
        </div>
      </div>
    </nav>
    <main>
      <div class="max-w-7xl mx-auto py-1 sm:px-1 lg:px-0">
        <!-- Replace with your content -->
        <div class="px-4 py-4 sm:px-0">
          
            <app-personal-representative-information *ngIf="state === 'personal representative'" [matter]="matter"></app-personal-representative-information>
            <app-decedent-information *ngIf="state === 'decedent information'" [matter]="matter"></app-decedent-information>
            <app-decedent-property *ngIf="state === 'decedent property'" [matter]="matter"></app-decedent-property>
            <app-probate-intake *ngIf="state === 'questions' && clientMode === false" [matter]="matter"></app-probate-intake>
        </div>
                <!-- /End replace -->
      </div>
    </main>
  </div>
</div>


