<!-- if the intake is empty provide options for sending -->
<!-- <div *ngIf="matter.matter_intake === null">
  <div class="bg-gray-50">
    <div
      class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between"
    >
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        <span class="block">Area Specific Intake</span>
      </h2>
      <p>
        EPfirms' area specific intake will ask your clients to provide certain important information about their case.
      </p>
      <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
        <div class="inline-flex rounded-md shadow">
          <a
            (click)="sendIntake()"
            class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700"
          >
            Send
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-3 px-2 sm:px-3 lg:px-4">
    <nav aria-label="Progress">
      <ol role="list" class="space-y-4 md:flex md:space-y-0 md:space-x-8">
        <li class="md:flex-1">
          <a
            [ngClass]="
              matter.matter_intake.status === 'sent' ? 'border-red-600' : 'border-gray-200'
            "
            class="pl-4 py-2 flex flex-col border-l-4 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4"
            aria-current="step"
          >
            <span
              [ngClass]="
                matter.matter_intake.status === 'sent' ? 'text-red-600' : 'text-gray-200'
              "
              class="text-xs font-semibold tracking-wide uppercase"
              >Step 1</span
            >
            <span class="text-sm font-medium">Intake Sent</span>
          </a>
        </li>

        <li class="md:flex-1">
          <a
            [ngClass]="
              matter.matter_intake.status === 'in progress'
                ? 'border-yellow-600'
                : 'border-gray-200'
            "
            class="pl-4 py-2 flex flex-col border-l-4 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4"
            aria-current="step"
          >
            <span
              [ngClass]="
                matter.matter_intake.status === 'in progress'
                  ? 'text-yellow-600'
                  : 'text-gray-200'
              "
              class="text-xs font-semibold tracking-wide uppercase"
              >Step 2</span
            >
            <span class="text-sm font-medium">Intake In Progress</span>
          </a>
        </li>

        <li class="md:flex-1">
          <a
            [ngClass]="
              matter.matter_intake.status === 'review' ? 'border-green-600' : 'border-gray-200'
            "
            class="pl-4 py-2 flex flex-col border-l-4 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4"
            aria-current="step"
          >
            <span
              [ngClass]="
                matter.matter_intake.status === 'review' ? 'text-green-600' : 'text-gray-200'
              "
              class="text-xs font-semibold tracking-wide uppercase"
              >Step 3</span
            >
            <span class="text-sm font-medium">Review Required</span>
          </a>
        </li>
      </ol>
    </nav>
  </div>
</header> -->

<!-- WORKFLOW DIV -->
<div class="m-2">
  <!-- This example requires Tailwind CSS v2.0+ -->
  <!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->

  <div class="min-h-half">
    <nav class="bg-white">
      <div class="mx-auto px-0 sm:px-0 lg:px-0">
        <div class="flex justify-center h-10">
          <div class="flex items-center">
            <div class="flex-shrink-0"></div>
            <div class="hidden md:block">
              <div class="flex items-baseline space-x-4">
                <!-- Current: "bg-blue-700 text-white", Default: "text-white hover:bg-blue-500 hover:bg-opacity-75" -->
                <a
                  (click)="setState('personal info')"
                  class="text-black hover:bg-blue-500 hover:bg-opacity-75 px-3 py-2 rounded-md text-xs font-medium tracking-wider text-left uppercase text-slate-500 border-slate-200"
                  [ngClass]="
                    state === 'personal info'
                      ? 'bg-blue-100 text-black text-sm'
                      : 'text-gray hover:bg-blue-200 hover:bg-opacity-75'
                  "
                  aria-current="page"
                >
                  Personal
                </a>

                <a
                  (click)="setState('income')"
                  [ngClass]="
                    state === 'income'
                      ? 'bg-blue-100 text-black text-sm'
                      : 'text-gray hover:bg-blue-200 hover:bg-opacity-75'
                  "
                  class="text-black hover:bg-blue-300 hover:bg-opacity-75 px-3 py-2 rounded-md text-xs font-medium tracking-wider text-left uppercase text-slate-500 border-slate-200"
                  >Income</a
                >

                <a
                  (click)="setState('asset')"
                  [ngClass]="
                    state === 'asset'
                      ? 'bg-blue-100 text-black text-sm'
                      : 'text-gray hover:bg-blue-200 hover:bg-opacity-75'
                  "
                  class="text-black hover:bg-blue-300 hover:bg-opacity-75 px-3 py-2 rounded-md text-xs font-medium tracking-wider text-left uppercase text-slate-500 border-slate-200"
                  >Assets</a
                >

                <a
                  (click)="setState('real estate')"
                  [ngClass]="
                    state === 'real estate'
                      ? 'bg-blue-100 text-black text-sm'
                      : 'text-gray hover:bg-blue-200 hover:bg-opacity-75'
                  "
                  class="text-black hover:bg-blue-300 hover:bg-opacity-75 px-3 py-2 rounded-md text-xs font-medium tracking-wider text-left uppercase text-slate-500 border-slate-200"
                  >Property</a
                >
                <a
                  (click)="setState('appointees')"
                  [ngClass]="
                    state === 'executors'
                      ? 'bg-blue-100 text-black text-sm'
                      : 'text-gray hover:bg-blue-200 hover:bg-opacity-75'
                  "
                  class="text-black hover:bg-blue-300 hover:bg-opacity-75 px-3 py-2 rounded-md text-xs font-medium tracking-wider text-left uppercase text-slate-500 border-slate-200"
                  >Appointees</a
                >

                <a
                  (click)="setState('estate planning')"
                  [ngClass]="
                    state === 'estate planning'
                      ? 'bg-blue-100 text-black text-sm'
                      : 'text-gray hover:bg-blue-200 hover:bg-opacity-75'
                  "
                  class="text-black hover:bg-blue-300 hover:bg-opacity-75 px-3 py-2 rounded-md text-xs font-medium tracking-wider text-left uppercase text-slate-500 border-slate-200"
                  >Questions</a
                >

                <a
                  (click)="setState('life insurance')"
                  [ngClass]="
                    state === 'life insurance'
                      ? 'bg-blue-100 text-black text-sm'
                      : 'text-gray hover:bg-blue-200 hover:bg-opacity-75'
                  "
                  class="text-black hover:bg-blue-300 hover:bg-opacity-75 px-3 py-2 rounded-md text-xs font-medium tracking-wider text-left uppercase text-slate-500 border-slate-200"
                  >Life Insurance</a
                >
              </div>
            </div>
          </div>
          <div class="hidden md:block"></div>
        </div>
      </div>
    </nav>
    <main>
      <div class="max-w-7xl mx-auto py-1 sm:px-1 lg:px-0">
        <!-- Replace with your content -->
        <div class="px-4 py-4 sm:px-0">
          <app-firm-personal-information
            *ngIf="state === 'personal info'"
            [matter]="matter"
            (continue)="setState('income')"
          ></app-firm-personal-information>
        </div>
        <!-- INCOME INFORMATION -->

        <app-income
          *ngIf="state === 'income'"
          [matter]="matter"
          (continue)="setState('asset')"
        ></app-income>
        <!-- -------------------------- -->

        <!-- ASSET INFORMATION -->

        <app-assets
          *ngIf="state === 'asset'"
          [matter]="matter"
          (continue)="setState('real estate')"
        ></app-assets>
        <!-- -------------------------- -->

        <!-- REAL ESTATE INFORMATION -->
        <app-real-estate *ngIf="state === 'real estate'" [matter]="matter"></app-real-estate>

        <app-appointees *ngIf="state === 'appointees'" [matter]="matter"></app-appointees>


        <!-- life insurance section -->
        <app-life-insurance
          *ngIf="state === 'life insurance'"
          [matter]="matter"
        ></app-life-insurance>
        <!-- /End replace -->
      </div>
    </main>
  </div>
</div>
