<div class="bg-white shadow overflow-hidden sm:rounded-md mt-2">
  <ul role="list" class="divide-y divide-gray-200">
    <li *ngFor="let team of teams">
      <a (click)="addTeamMember(team)" class="block hover:bg-gray-50">
        <div class="px-4 py-4 flex items-center sm:px-6">
          <div class="min-w-0 flex-1 flex items-center">
            <div class="flex-shrink-0">
            <ep-avatar epSize="large" [epSrc]="team.owner.user.profile_image" [epText]="team.owner.user.full_name"></ep-avatar>
            </div>
            <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 items-center">
              <div>
                <p class="text-sm font-medium text-blue-600 truncate">{{team.owner.user.full_name | titlecase}}</p>
                <p class="mt-2 flex items-center text-sm text-gray-500">
                  <!-- Heroicon name: solid/mail -->
                  <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                  </svg>
                  <span class="truncate">{{team.owner.user.email}}</span>
                </p>
              </div>

              <div class="mt-4 flex-shrink-0 sm:mt-0 sm:ml-5 row-span-2 flex items-center space-x-2 justify-end">
                  <ep-avatar-group>
                    <ep-avatar *ngFor="let member of team.member.slice(0, 4)" epSize="xsmall" [epSrc]="member.user.profile_image" [epText]="member.user.full_name"></ep-avatar>
                  </ep-avatar-group>
                  <span class="flex-shrink-0 text-xs leading-5 font-medium text-gray-500" *ngIf="team.member.length >= 4">+{{team.member.length - 4}}</span>
              </div>
            </div>
          </div>
          <div class="ml-5 flex-shrink-0">
            <!-- Heroicon name: solid/chevron-right -->
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>