<div>
  <div class="flex flex-col mt-8">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 md:pl-0">Team</th>
              <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Phone</th>
              <th scope="col" class="py-3.5 px-3 text-center text-sm font-semibold text-gray-900">Members</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6 md:pr-0">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr *ngFor="let team of teams" (click)="addTeamMember(team)" class="group hover:bg-gray-50 hover:cursor-pointer">
              <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 whitespace-nowrap sm:pl-6 md:pl-0">{{team.team.name | titlecase}}</td>
              <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">{{team.team.twilio_phone_number | phone}}</td>
              <td class="px-3 py-4 text-sm text-center text-gray-500 whitespace-nowrap">{{team.members.length || 0}}</td>
              <td class="relative py-4 pl-3 pr-4 text-sm font-medium text-right whitespace-nowrap sm:pr-6 md:pr-0">
                <a class="text-blue-600 hover:text-blue-900">Edit</a>
              </td>
            </tr>

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>