

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <!-- Content goes here -->
    <button (click)="closeCaseView()" type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
      </svg>

    </button>
    
<!-- This example requires Tailwind CSS v2.0+ -->
<div>
    <h1 class="text-lg font-medium leading-6 text-gray-900">
      Financial Overview for Case: {{matter.case_id}}
    </h1>
    <dl class="grid grid-cols-1 gap-5 mt-5 sm:grid-cols-3">
      <div class="px-4 py-5 overflow-hidden bg-white rounded-lg shadow sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">
          Current Balance
        </dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">
          {{balanceDue - totalPayments | currency}}
        </dd>
      </div>
  
      <div class="px-4 py-5 overflow-hidden bg-white rounded-lg shadow sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">
          Last Payment
        </dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">
          {{lastPaymentAmount| currency}}
        </dd>
      </div>
  
      <div class="px-4 py-5 overflow-hidden bg-white rounded-lg shadow sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">
          Status
        </dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">
          <ng-container *ngIf="customerAccount">

            <span *ngIf="customerAccount.subscription_active"> Monthly Payment Plan Active</span>

          </ng-container>
        </dd>
      </div>
    </dl>
  </div>
  
  
  <!--
    This example requires Tailwind CSS v2.0+ 
    
    This example requires some changes to your config:
    
    ```
    // tailwind.config.js
    module.exports = {
      // ...
      plugins: [
        // ...
        require('@tailwindcss/forms'),
      ],
    }
    ```
  -->
  <div class="px-24 py-8">
    
    <div class="hidden sm:block">
      <div class="border-b border-gray-200">
        <nav class="flex -mb-px space-x-8">
          <!-- Current: "border-blue-500 text-blue-600", Default: "border-transparent text-slate-500 hover:text-slate-700 hover:border-slate-300" -->
          <a                 
          *ngFor="let subtab of subTabs"
          (click)="selectTab(subtab)"
          [ngClass]="{
            'border-blue-500 text-blue-600': subtab === selectedTab,
            'text-gray-500 hover:text-gray-700 hover:border-gray-300 border-transparent':
              subtab !== selectedTab
          }" class="px-1 pb-4 text-sm font-medium border-b-2  whitespace-nowrap hover:cursor-pointer" aria-current="page">
          {{ subtab | titlecase }}
  
          </a>
          <a   *ngIf="displayMonthlyPaymentTab"              
          
          (click)="selectTab('monthly payments')"
          [ngClass]="{
            'border-blue-500 text-blue-600': 'monthly payments' === selectedTab,
            'text-gray-500 hover:text-gray-700 hover:border-gray-300 border-transparent':
              'monthly payments' !== selectedTab
          }" class="px-1 pb-4 text-sm font-medium border-b-2  whitespace-nowrap hover:cursor-pointer" aria-current="page">
          Monthly Payments
  
          </a>
        </nav>
      </div>
    </div>
  </div>
  <app-statement-view *ngIf="selectedTab == 'statements'" [statements]="statements"></app-statement-view>
  <app-monthly-payment-view *ngIf="selectedTab == 'monthly payments'" [customerAccount]="customerAccount" [matter]="matter"></app-monthly-payment-view>
  <app-transactions *ngIf="selectedTab == 'transactions'" [payments]="payments"></app-transactions>
  <!-- END OF CONTAINER -->
  </div>
  


  
  
  
  
  
  
  
  
  
  
  
  
  
  