<main class="flex-1 flex overflow-hidden">
    <div class="flex-1 flex flex-col overflow-y-auto xl:overflow-hidden">

      <div class="flex-1 flex xl:overflow-hidden">

        <!-- Main content -->
        <div class="flex-1 max-h-screen xl:overflow-y-auto">
          <div class="max-w-3xl mx-auto py-10 px-4 sm:px-6 lg:py-12 lg:px-8">
            <h1 class="text-3xl font-extrabold text-blue-gray-900">Billing Integration</h1>

            <div class="sm:col-span-6">
              <h2 class="text-xl font-medium text-blue-gray-900">Stripe Integration</h2>
              <p class="mt-1 text-sm text-blue-gray-500">

                Integration with Stripe will allow you to bill and securely collect payments from your clients.
              </p>
              <!-- This example requires Tailwind CSS v2.0+ -->

                <button type="button" (click)="integrateStripe()" [disabled]="isStripeConnected" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                  Connect with Stripe
                </button>
                <span *ngIf="isStripeConnected" class="inline-flex items-center mx-4 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                  Connected
                </span>




            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
