<div>
    <img class="mx-auto h-12 w-auto" src="assets/logo/blue-short.png" alt="Workflow">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Set your account password
    </h2>
</div>

<ng-container *ngIf="!error">
    <form class="mt-8 space-y-6" *ngIf="!submitted">
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">
            <div>
                <label for="password" class="sr-only">Password</label>
                <input [(ngModel)]="password" id="password" name="password" type="password" required
                    class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
                    placeholder="Password">
            </div>
            <div>
                <label for="confirm-password" class="sr-only">Confirm Password</label>
                <input [(ngModel)]="confirmPassword" id="confirm-password" name="confirm-password" type="password"
                    required
                    class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
                    placeholder="Confirm password">
            </div>
        </div>

        <div>
            <button [disabled]="!(password && confirmPassword && password === confirmPassword)" type="submit"
                (click)="updatePassword()"
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:opacity-50">
                Save
            </button>
        </div>
    </form>

    <div *ngIf="submitted">Your password has been updated. Redirecting to login</div>
</ng-container>

<div *ngIf="error" class="text-center">This password reset link has expired</div>