<!-- This example requires Tailwind CSS v2.0+ -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
  <nav class="bg-white border-b border-gray-200">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16">
        <div class="flex">
          <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
            <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
            <a
              [ngClass]="
                state === 0
                  ? 'border-indigo-500 text-gray-900'
                  : 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700'
              "
              class="inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
            >
              Getting Started
            </a>

            <a
              [ngClass]="
                state === 1
                  ? 'border-indigo-500 text-gray-900'
                  : 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700'
              "
              class="inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
            >
              Personal Information
            </a>
            <a
              [ngClass]="
                state === 2
                  ? 'border-indigo-500 text-gray-900'
                  : 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700'
              "
              class="inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
            >
              Income Information
            </a>
            <a
              [ngClass]="
                state === 3
                  ? 'border-indigo-500 text-gray-900'
                  : 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700'
              "
              class="inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
            >
              Asset Information
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="py-10">
    <header>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8"></div>
    </header>
    <main>
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <!-- GETTING Started -->

        <app-intake-dialog
         *ngIf="state === 0"
          [settings]="{
            title: 'Getting Started',
            content:
              'This intake process is designed to help streamline our legal services to you. Your information will be kept secure and confidential.',
              continueButton: true
          }"
          
          (continue)="setState(1)"
        ></app-intake-dialog>

        <!---------------------------------->
      



        <!--PERSONAL INFO-->
        <app-personal-information *ngIf="state === 1" [matter]="matter" (back)="back()"></app-personal-information>
        <!-------------------->
      </div>
    </main>
  </div>
</div>
