<main class="flex-1 flex overflow-hidden">
    <div class="flex-1 flex flex-col overflow-y-auto xl:overflow-hidden">

      <div class="flex-1 flex xl:overflow-hidden">

        <!-- Main content -->
        <div class="flex-1 max-h-screen xl:overflow-y-auto">
          <div class="max-w-4xl mx-auto py-10 px-4 sm:px-6 lg:py-12 lg:px-8">
            <h1 class="text-2xl font-extrabold text-blue-gray-900">Legal Areas</h1>

            <section aria-labelledby="billing-history-heading" class="mt-6">
              <button class="button-primary-icon-sm" (click)="add()">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                    clip-rule="evenodd"
                  />
                </svg>
                New legal area
              </button>
              <div class="mt-3 bg-white shadow sm:rounded-md">
                <div class="flex flex-col">
                  <div class="-my-2 sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                      <div>
                        <table class="min-w-full divide-y divide-gray-200">
                          <thead class="bg-gray-50">
                            <tr>
                              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Legal Area
                              </th>
                              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Description
                              </th>
                              <!--
                                `relative` is added here due to a weird bug in Safari that causes `sr-only` headings to introduce overflow on the body on mobile.
                              -->
                              <th scope="col" class="relative px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                <span class="sr-only">Remove</span>
                              </th>
                            </tr>
                          </thead>
                          <tbody class="bg-white divide-y divide-gray-200">
                            <tr *ngIf="createLegalArea">
                              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                <editable-input placeholder="Name" (onChange)="updateNewLegalArea($event, 'name')"></editable-input>
                              </td>
                              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                <editable-input placeholder="Enter a description" (onChange)="updateNewLegalArea($event, 'description')"></editable-input>
                              </td>
                              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                <button class="button-primary-xs" (click)="save()">
                                  Save
                                </button>
                              </td>
                            </tr>
                            <tr *ngFor="let legalArea of legalAreas$ | async">
                              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                <ep-tag
                                [dot]="true"
                                [color]="legalArea.color"
                                [rounded]="false"
                                epSize="large"
                              >
                                {{ legalArea.name | titlecase}}
                              </ep-tag>
                              </td>
                              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                {{ legalArea.description || 'Add a description'}}
                              </td>
                              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                <a class="text-blue-600 hover:text-blue-900" (click)="remove(legalArea.id)">Remove</a>
                              </td>
                            </tr>
    
                            <!-- More payments... -->
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>
      </div>
    </div>
  </main>
