<div class="w-full text-right">
    <button (click)="openAddTemplateDialog()" type="button" class="inline-flex items-center flex-end px-3 py-2 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        <svg class="-ml-0.5 mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
        </svg>
        Create template
    </button>
</div>

<ul role="list" class="mt-5 overflow-y-auto">
    <app-task-template-list-item *ngFor="let template of taskTemplates" [template]="template" (editTemplate)="editTemplateDialog(template)" (deleteTemplate)="deleteTemplate(template)"></app-task-template-list-item>
</ul>