.tab-bar-container {
  @apply flex items-end justify-between h-11 flex-grow;

  & > .tab-container {
    @apply flex items-center;

    & > .tab-list {
      @apply flex cursor-pointer;
    }
  }
}

.tab {
  @apply py-2
        rounded-t-lg
        text-sm
        border-l
        border-r border-t border-slate-300/75
        bg-white
        mr-1
        font-medium;
}

.selected {
  @apply bg-white border-gray-900/10;
  & > .close-btn-container {
    @apply from-white via-white;
  }
}

.not-selected {
  @apply bg-transparent transition-all opacity-80 hover:opacity-90 rounded-none border-t-transparent;
  & > .close-btn-container {
    @apply from-gray-100 via-gray-100;
  }
}

.remove-tab-button {
  @apply inline-flex
        ml-6
        p-1
        items-center
        border border-transparent
        rounded-md
        text-slate-400
        hover:bg-slate-300
        focus:outline-none
        focus:ring-2
        focus:ring-offset-2
        focus:ring-indigo-500;
}

.transition-expand {
  transition-property: max-height, background-color, border-color, color, fill,
    stroke, opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
}
