<!-- Tab nav -->
<div
  class="
    relative
    bg-slate-50
    border-t border-slate-200
    overflow-hidden
    flex
    -mb-px
  "
>
  <div class="tab-bar-container">
    <div class="tab-container">
      <ul class="tab-list" *ngIf="tabs.length">
        <li
          *ngFor="let tab of tabs; let i = index"
          (click)="setSelectedIndex(i)"
          class="tab"
          [class.bg-white]="selectedIndex === i"
          [class.z-20]="selectedIndex === i"
          [class.bg-slate-100]="selectedIndex !== i"
        >
          <div class="flex items-center px-6 pr-2">
            {{ tab.label }}
            <button
              type="button"
              class="remove-tab-button"
              (click)="onClose(i, $event)"
            >
              <!-- Heroicon name: solid/plus -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <button class="mr-5 disabled:opacity-20" (click)="onExpand()" [disabled]="!tabs.length">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5"
      viewBox="0 0 20 20"
      fill="currentColor"
      *ngIf="!expanded"
    >
      <path
        fill-rule="evenodd"
        d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
        clip-rule="evenodd"
      />
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5"
      viewBox="0 0 20 20"
      fill="currentColor"
      *ngIf="expanded"
    >
      <path
        fill-rule="evenodd"
        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
        clip-rule="evenodd"
      />
    </svg>
  </button>
</div>

<!-- Tab content -->
<div
  class="
    relative
    z-10
    inset-x-0
    shadow-lg
    border-t border-slate-200
    h-full
    min-h-0
  "
>
    <div
      tab-body
      *ngFor="let tab of tabs; let i = index"
      [active]="selectedIndex === i"
      [content]="tab.content"
    ></div>
</div>