<div>
  <div class="px-4 py-5 sm:px-8">
    <h3 class="text-lg font-medium leading-5 text-gray-900">Add Payment</h3>
    <!-- <p class="max-w-2xl mt-1 text-sm text-gray-500">Personal details and application.</p> -->
  </div>
  <div class="px-4 py-5 space-y-5 sm:px-8">
    <form [formGroup]="paymentForm" autocomplete="off">
      <div>
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <label for="amount" class="block text-sm font-medium text-slate-700">Amount Paid</label>
            <div class="relative mt-1 rounded-md shadow-sm">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <span class="text-slate-500 sm:text-sm"> $ </span>
              </div>
              <input
                formControlName="amount"
                [inputMask]="currencyInputMask"
                placeholder="0.00"
                type="text"
                name="amount"
                id="amount"
                class="block w-full pr-12 rounded-md focus:ring-blue-500 focus:border-blue-500 pl-7 sm:text-sm border-slate-300"
                placeholder="0.00"
                aria-describedby="price-currency"
              />
              <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                <span class="text-slate-500 sm:text-sm" id="price-currency"> USD </span>
              </div>
            </div>
            <!-- amount -->
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="bill-date" class="block text-sm font-medium text-slate-700">Date</label>
            <div class="mt-1">
              <input
              class="block w-full px-3 py-2 border rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm border-slate-300"
              name="mydate"
              type="date"
              (change)="setDate($event)"
              autocomplete="off"
            />
            </div>
            <!-- date -->
          </div>

          <div class="col-span-6">
            <label for="description" class="block text-sm font-medium text-slate-700"
              >Description</label
            >
            <!-- description -->
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <textarea
                id="description"
                name="description"
                formControlName="description"
                rows="3"
                class="block w-full max-w-lg border rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm border-slate-300"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
