<div class="flex items-center justify-center min-h-screen px-4 py-12 bg-gray-50 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <ng-container *ngIf="(authService.user$ | async) as user; else showLoginForm">
        <app-auth-portal-select></app-auth-portal-select>
      </ng-container>
      
      <ng-template #showLoginForm>
        <app-auth-login-form (loginCredential)="login($event)"></app-auth-login-form>
      </ng-template>

      <button (click)="logout()">logout</button>
    </div>
  </div>
</div>
