<div class="flex justify-center mt-1 border border-gray-200 rounded-md">
  <table class="min-w-full" *ngIf="val.length">
    <thead>
      <tr>
        <th
          class="px-3 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase border-r border-gray-200 whitespace-nowrap"
        >
          <span>Task</span>
        </th>
        <th
          class="px-3 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase border-l border-r border-gray-200 whitespace-nowrap"
        >
          Assignee / role
        </th>
        <th
          class="hidden px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase border-l border-gray-200 md:table-cell whitespace-nowrap"
        >
          Days until due
        </th>
        <!-- <th class="hidden px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase bg-white border-l border-gray-200 md:table-cell whitespace-nowrap">
      Duration
    </th> -->
        <th
          class="table-cell px-4 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase whitespace-nowrap"
        ></th>
      </tr>
    </thead>
    <tbody>
        <tr
          class="task-row group"
          [class.bg-sky-50]="!task.id"
          *ngFor="let task of val; let i = index; last as isLast"
        >
          <td
          class="w-full px-1 py-1 text-sm font-medium text-gray-900 border-t border-r border-gray-200 max-w-0 whitespace-nowrap"
          [class.border-b]="!isLast"
        >
          <div class="relative flex items-center">
            <editable-input
              [value]="task.name"
              (onChange)="setDescription($event, task)"
              placeholder="Enter a task name"
              class="flex-1"
            ></editable-input>
            <app-task-toolbar [task]="task"></app-task-toolbar>
          </div>
        </td>
        <td
          class="w-full px-1 py-1 text-sm font-medium text-gray-900 border-t border-r border-gray-200 whitespace-nowrap"
          [class.border-b]="!isLast"
        >
          <div *ngIf="filteredAssigneeGroups && filteredAssigneeGroups.length">
            <ep-input-group *ngIf="task.user_id">
              <ep-avatar
                ep-input-icon
                epSize="xsmall"
                [epSrc]="task.user?.profile_image"
                [epText]="task.user?.full_name"
              ></ep-avatar>

              <input
                ep-input
                [epEditable]="true"
                [ngModel]="task.user_id"
                type="text"
                (change)="filterStaffMembers($event)"
                [epAutocomplete]="auto"
                placeholder="Select assignee/role"
              />
            </ep-input-group>

            <input
              *ngIf="task.role || !task.user_id"
              ep-input
              [epEditable]="true"
              type="text"
              [ngModel]="task.role"
              (change)="filterStaffMembers($event)"
              [epAutocomplete]="auto"
              placeholder="Select assignee/role"
            />

            <ep-autocomplete
              #auto="epAutocomplete"
              [displayWith]="displayFn"
              (optionSelected)="setAssignee($event, task)"
              panelWidth="auto"
            >
              <ep-option-group
                [label]="assigneeGroup.type"
                *ngFor="let assigneeGroup of filteredAssigneeGroups"
              >
                <ep-option
                  *ngFor="let assignee of assigneeGroup.assignees"
                  [value]="assigneeGroup.type === 'Role' ? assignee.name : assignee.id"
                  [displayValue]="assignee"
                >
                  <ep-avatar
                    *ngIf="assigneeGroup.type === 'Staff'"
                    epSize="xsmall"
                    [epSrc]="assignee.profile_image"
                    [epText]="assignee.name"
                  >
                  </ep-avatar>
                  <span class="block ml-3 font-normal truncate">
                    {{ assignee.name | titlecase }}
                  </span>
                </ep-option>
              </ep-option-group>
            </ep-autocomplete>
          </div>
        </td>

        <td
          class="px-1 py-1 text-sm font-medium text-gray-900 border-t border-gray-200"
          [class.border-b]="!isLast"
        >
        <div>
          <input [(ngModel)]="task.no_of_days_from_start_date" type="number" min="0"
            class="w-full px-2 py-1 text-sm text-center text-gray-800 bg-transparent border border-transparent border-dashed hover:bg-white hover:border-gray-300 focus:bg-white focus:border-transparent focus:shadow-sm">
        </div>
        </td>

        <td
          class="px-1 py-1 text-sm font-medium text-gray-900 border-t border-gray-200"
          [class.border-b]="!isLast"
        >
          <div class="flex items-center">
            <button
              (click)="removeTemplateTask(task)"
              type="button"
              class="flex items-center p-2 -m-2 text-gray-300 rounded-full hover:text-gray-600"
              id="options-menu-0-button"
              aria-expanded="false"
              aria-haspopup="true"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
        </td>

        </tr>
    </tbody>
  </table>

  <div class="my-2 text-center" *ngIf="!val.length">
    <svg
      class="w-12 h-12 mx-auto text-gray-400"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      aria-hidden="true"
    >
      <path
        vector-effect="non-scaling-stroke"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"
      />
    </svg>
    <h3 class="mt-2 text-sm font-medium text-gray-900">No tasks</h3>
    <p class="mt-1 text-sm text-gray-500">Get started by adding a task to this template.</p>
  </div>
</div>
<button class="mt-4 button-white-icon-sm" (click)="addTemplateTask()">
  <svg
    class="icon"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
    fill="currentColor"
  >
    <path
      fill-rule="evenodd"
      d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
      clip-rule="evenodd"
    />
  </svg>
  Add Task
</button>