<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <p
        class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl"
      >
        {{ settings.title }}
      </p>
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">
        {{ settings.content }}
      </p>

      <!-- OPTIONAL SELECT FORM -->
      <div *ngIf="dropdownForm">
        <div class="sm:col-span-3">
          <label class="block text-sm font-medium text-gray-700">{{dropdownForm.question}} </label>
          <div class="mt-1">
            <select
            [(ngModel)]="dropdownForm.value"
              class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
            >
              
              <option [ngValue]="true">Yes</option>
              <option [ngValue]="false">No</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-end mt-3">
  <button
    (click)="backButton()"
    *ngIf="settings.backButton"
    type="button"
    class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
  >
    Back
  </button>
  <button
    (click)="continueButton()"
    *ngIf="settings.continueButton"
    type="submit"
    class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
  >
    Continue
  </button>
</div>
