<cdk-accordion>
  <cdk-accordion-item *ngFor="let item of accordionItems" #accordionItem="cdkAccordionItem">
    <!-- <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
      <ng-content select="[ep-accordion-header]"></ng-content>

      <span class="example-accordion-item-description">
        Click to {{ accordionItem.expanded ? 'close' : 'open' }}
      </span>
    </div>

    <div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'">
      <ng-content select="[ep-accordion-body]"></ng-content>
    </div> -->
  </cdk-accordion-item>
</cdk-accordion>