<!-- This example requires Tailwind CSS v2.0+ -->
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Content goes here -->



    <!-- This example requires Tailwind CSS v2.0+ -->
<div>
    
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">
          Billing Type
        </dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">
          {{matterBillingSetting.billing_type}}
        </dd>
      </div>
  
      <div *ngIf="matterBillingSetting.billing_type != 'Contingency'" class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">
          Payment Type
        </dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">
          {{matterBillingSetting.payment_type}}
        </dd>
      </div>
  
      <div *ngIf="contract != null" class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">
          Contract Status
        </dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">
          {{contract.client_signed ? 'Signed' : "Unsigned"}}
        </dd>
      </div>
    </dl>
  </div>

  <!-- IF CONTINGENCY -->
<div *ngIf="matterBillingSetting.billing_type == 'Contingency'">
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="first-name" class="block text-sm font-medium text-gray-700">
            Before Settlement Percentage
          </label>
          <div class="mt-1">
            <input (blur)="submit()" type="number" min="0" max="1" step=".01" [(ngModel)]="beforeSettlement"  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="last-name" class="block text-sm font-medium text-gray-700">
            After Settlement Percentage
          </label>
          <div class="mt-1">
            <input (blur)="submit()" type="number" min="0" max="1" step=".01" [(ngModel)]="afterSettlement" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>

</div>



  <!-- IF FLAT RATE -->
  
  </div>
  