<div>
  <div class="px-4 py-5 sm:px-8">
    <h3 class="text-lg font-medium leading-5 text-gray-900">Edit Client Information</h3>
    <!-- <p class="max-w-2xl mt-1 text-sm text-gray-500">Personal details and application.</p> -->
  </div>
  <div class="px-4 py-5 border-t border-gray-200 sm:px-8">
    <form [formGroup]="clientForm">
      <div>
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <label
              for="first-name"
              class="block text-sm font-medium text-gray-700"
              >First name</label
            >
            <input
              formControlName="first_name"
              ep-input
              type="text"
              name="first-name"
              id="first-name"
              autocomplete="off"
              class="mt-1"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="last-name"
              class="block text-sm font-medium text-gray-700"
              >Last name</label
            >
            <input
              formControlName="last_name"
              ep-input
              type="text"
              name="last-name"
              id="last-name"
              autocomplete="off"
              class="mt-1"
            />
          </div>

          <div class="col-span-6 sm:col-span-4">
            <label
              for="email-address"
              class="block text-sm font-medium text-gray-700"
              >Email address</label
            >
            <input
              formControlName="email"
              ep-input
              type="text"
              name="email-address"
              id="email-address"
              autocomplete="off"
              class="mt-1"
            />
          </div>

          <div class="col-span-6 sm:col-span-2">
            <label
              for="phone"
              class="block text-sm font-medium text-gray-700"
              >Phone</label
            >
            <input
              formControlName="phone"
              ep-input
              type="text"
              name="phone"
              id="phone"
              class="mt-1"
              autocomplete="off"
              [inputMask]="phoneInputMask"
            />
          </div>

          <div class="col-span-6">
            <label
              for="street-address"
              class="block text-sm font-medium text-gray-700"
              >Street address</label
            >
            <input
              formControlName="address"
              ep-input
              type="text"
              id="street-address"
              autocomplete="off"
              class="mt-1"
            />
          </div>

          <div class="col-span-6 sm:col-span-6">
            <label
              for="city"
              class="block text-sm font-medium text-gray-700"
              >City</label
            >
            <input
              formControlName="city"
              ep-input
              type="text"
              id="city"
              class="mt-1"
              autocomplete="off"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="state" class="block text-sm font-medium text-gray-700">
              State
            </label>
            <div class="mt-1">
              <select formControlName="state"
              id="state"
                class="block w-full py-2 pl-3 pr-10 mt-1 text-base rounded-md shadow-sm border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                <option *ngFor="let state of usaStates" [ngValue]="state.abbreviation">{{state.name}}</option>
              </select>
            </div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="postal-code"
              class="block text-sm font-medium text-gray-700"
              >ZIP</label
            >
            <input
              formControlName="zip"
              ep-input
              type="text"
              id="postal-code"
              autocomplete="off"
              class="mt-1"
              pattern="[0-9]{5}"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>