
      <form [formGroup]="userProfileForm">

<div *ngIf="formSettings.isClient === true" class="grid grid-cols-1 gap-4 lg:grid-cols-1 mt-2">
  <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-blue-500">
    <div class="flex-shrink-0">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="gray">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
      </svg> 
    </div>
    <div class="flex-1 min-w-0">
      <a href="#" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-sm font-medium text-gray-900">{{userProfile.first_name}} {{userProfile.last_name}}</p>
        <p class="text-sm text-gray-500 truncate">Client</p>
      </a>
    </div>
  </div>
 </div>
  <div *ngIf="formSettings.isClient === false" class="grid grid-cols-1 gap-4 lg:grid-cols-1 mt-2">
    <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-blue-500">
      <div class="flex-shrink-0">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="gray">
          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
        </svg> 
       </div>
      <label for="relationship" class="block text-sm font-medium text-gray-700">
        Relationship
      </label>
      <div class="flex-1 min-w-0">
          <select
            formControlName="relationship_type"
            id="region"
            name="region"
            autocomplete="address-level1"
            class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
          >
            <option *ngFor="let type of relationshipTypes" [ngValue]="type">
              {{ type | titlecase }}
            </option>
          </select>
       </div>
    </div>
  </div>


    <div class= "mt-2 relative rounded-lg border border-gray-300 bg-white px-3 py-2 shadow-sm hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-blue-500">    

        <div class="flex items-center flex-1 bg-white px-3 py-3 border-b border-gray-200 sm:px-2">
            <svg class="flex-shrink-0 w-6 h-6 text-slate-400 lg:mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
          
          <h3 class= "text-sm leading-2 font-medium text-gray-600">Personal Information</h3>
        </div>
        

      <div class="mt-4 grid grid-cols-1 gap-y-2 gap-x-4 sm:grid-cols-6">
          
      <div class="sm:col-span-3 mt-3">
          <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-blue-600 focus-within:border-blue-600">
            <label for="name" class= "absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-400"> First Name</label>
            <input
                type="text"
                name="first-name"
                formControlName="first_name"
                id="first-name"
                autocomplete="given-name"
                class="block w-full border-0 p-0 text-gray-900 placeholder-gray-300 focus:ring-0 sm:text-sm"
                placeholder=" e.g. Jane Elizabeth"
              />
            </div>
        </div>

        <div class="sm:col-span-3 mt-3">
          <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-blue-600 focus-within:border-blue-600">
            <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-400"> Last Name</label>
            <input
                type="text"
                formControlName="last_name"
                 name="last-name"
                 id="last-name"
                 autocomplete="family-name"
                class="block w-full border-0 p-0 text-gray-900 placeholder-gray-300 focus:ring-0 sm:text-sm"
                placeholder="e.g. Doe"
              />
            </div>
        </div>
      </div>

      <div class="sm:col-span-1 mt-3">
        <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-blue-600 focus-within:border-blue-600">
          <label for="name" class= "absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-400"> Date of Birth</label>
          <input
              type="date"
              name="birth-date"
              formControlName="dob"
              id="birth-date"
              class="block w-full border-0 p-0 text-gray-900 placeholder-gray-300 focus:ring-0 sm:text-sm"
              placeholder=" March 10th, 1982"
            />
          </div>
      </div>


      <div class="sm:col-span-3 mt-3">
          <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-blue-600 focus-within:border-blue-600">
            <label for="ssn" class= "absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-400"> SSN</label>
            <input
                type="password"
                formControlName="ssn"
                id="ssn"
                class="block w-full border-0 p-0 text-gray-900 placeholder-gray-300 focus:ring-0 sm:text-sm"
              />
            </div>
        </div>
      <div class="sm:col-span-3 mt-3">
          <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-blue-600 focus-within:border-blue-600">
            <label for="drivers_id" class= "absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-400"> Driver's ID #</label>
            <input
                type="text"
                formControlName="drivers_id"
                id="drivers_id"
                autocomplete="given-name"
                class="block w-full border-0 p-0 text-gray-900 placeholder-gray-300 focus:ring-0 sm:text-sm"
                placeholder="Driver's ID Number"
              />
            </div>
        </div>

      <div class="flex items-center flex-1 bg-white px-3 py-3 border-b border-gray-200 sm:px-2">
        <svg class="flex-shrink-0 w-6 h-6 text-slate-400 lg:mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
          <h3 class="text-sm leading-2 font-medium text-gray-600">Contact Information</h3>
        </div>

        <div class="mt-4 grid grid-cols-1 gap-y-2 gap-x-4 sm:grid-cols-6">  
        <div class="sm:col-span-3 mt-3">
            <label for="email" class="sr-only">Email</label>
            <div class="mt-1 relative rounded-md shadow-sm">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-400"> Email </label>
                <!-- Heroicon name: solid/mail -->
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                  <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                </svg>
              </div>
              <input id="email"
              formControlName="email"
              name="email"
              type="email"
              autocomplete="email"
              class="focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 sm:text-sm border-gray-300 rounded-md" 
              placeholder="you@example.com">
            </div>
          </div>

          <div class="sm:col-span-3 mt-3">
            <label for="phone" class="sr-only">Phone</label>
            <div class="mt-1 relative rounded-md shadow-sm">
              <div class="absolute inset-y-0 left-0 flex items-center">
                <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-400"> Phone</label>
                <select id="country" name="country" autocomplete="country" 
                class="focus:ring-blue-500 focus:border-blue-500 h-full py-0 pl-3 pr-3 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-sm">
                  <option>US</option>
                  <option>CA</option>
                  <option>EU</option>
                </select>
              </div>
              <input 
              type="text" 
              name="email" 
              formControlName="phone" 
              id="email" 
              class="focus:ring-blue-500 focus:border-blue-500 block w-full pl-16 sm:text-sm border-gray-300 rounded-md" 
              placeholder="+1 (555)-987-6543">
            </div>
          </div>

          
          <div class="sm:col-span-4 mt-3">
            <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-blue-600 focus-within:border-blue-600">
              <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-400"> Street Address</label>
              <input
                type="text"
                formControlName="address"
                name="street-address"
                id="street-address"
                autocomplete="street-address"
                class="block w-full border-0 p-0 text-gray-900 placeholder-gray-300 focus:ring-0 sm:text-sm"
                placeholder="e.g. 5534 Dunningham Drive Apt. 52"
                />
              </div>
          </div>

          <div class="sm:col-span-2 mt-3">
            <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-blue-600 focus-within:border-blue-600">
              <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-400"> City</label>
              <input
              type="text"
              formControlName="city"
              name="city"
              id="city"
              autocomplete="address-level2"
              class="block w-full border-0 p-0 text-gray-900 placeholder-gray-300 focus:ring-0 sm:text-sm"
              placeholder="e.g. Springville"
                />
              </div>
          </div>

          <div class="sm:col-span-3 mt-3">
            <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-blue-600 focus-within:border-blue-600">
              <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-400">State</label>
              <select
                formControlName="state"
                id="region"
                name="region"
                autocomplete="address-level1"
              class="block w-full border-0 p-0 text-gray-900 placeholder-gray-300 focus:ring-0 sm:text-sm"
              placeholder="e.g. State">
                <option *ngFor="let state of usaStates" [ngValue]="state.abbreviation">
                  {{ state.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="sm:col-span-3 mt-3">
            <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-blue-600 focus-within:border-blue-600">
              <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-400"> Zip Code</label>
              <input
              type="text"
                formControlName="zip"
                name="postal-code"
                id="postal-code"
                autocomplete="postal-code"
              class="block w-full border-0 p-0 text-gray-900 placeholder-gray-300 focus:ring-0 sm:text-sm"
              placeholder="e.g. Zip Code"
                />
              </div>
          </div>
       
      
    </div>
    
        <!-- SAVE BUTTON GOES HERE -->
      <div class="text-right">
      <button
        (click)="submit()"
        type="button"
        class="m-2 px-2.5 py-2.5 border border-transparent text-xs  rounded shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
       >
        Save
      </button>
    
  </div>

      </div>

</form>
      <!-- <div class="border-t border-gray-200 py-6 px-4 px-6 lg:p-8">
                <h4 class="sr-only">Status</h4>
                <p class="text-sm  text-gray-900">Preparing to ship on <time datetime="2021-03-24">March 24, 2021</time></p>
                <div class="mt-6" aria-hidden="true">
                  <div class="bg-gray-200 rounded-full overflow-hidden">
                    <div class="h-2 bg-blue-600 rounded-full" style="width: calc((1 * 2 + 1) / 8 * 100%);"></div>
                  </div>
                  <div class="hidden grid grid-cols-4 text-sm  text-gray-600 mt-6">
                    <div class="text-blue-600">Order placed</div>
                    <div class="text-center text-blue-600">Processing</div>
                    <div class="text-center ">Shipped</div>
                    <div class="text-right ">Delivered</div>
                  </div>
                </div>
              </div> -->
  

