<body class="h-screen antialiased">
  <div class="">
    <div class="h-screen py-2">
      <div class="mx-auto">
        <div class="mt-4 px-4 sm:px-6 lg:px-8">
          <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
              <div class="flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="gray"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                  />
                </svg>
                <h1 class="px-4 text-xl font-semibold text-gray-600">Appointees</h1>
              </div>
              <p class="mt-2 text-sm text-gray-700">
                Please provide the executor, trustee, power of attorney, and medicial power of
                attorney for any estate planning documents that are being drafted. The system makes
                assumptions to limit intake time. First assumption is that the spouse will be the
                executor, trustee, POA, and MPOA. However, you can override the assumption by
                entering a different person in the trustee section.
              </p>
            </div>

            <!-- <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
              <button type="button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto">Add income</button>
            </div> -->
          </div>
          <!-- This example requires Tailwind CSS v2.0+ -->
          <nav class="mt-10" aria-label="Progress">
            <ol role="list" class="space-y-4 md:flex md:space-y-0 md:space-x-8">
              <li class="md:flex-1">
                <a
                  (click)="state = 'client'"
                  [ngClass]="
                    state === 'client'
                      ? 'pl-4 py-2 flex flex-col border-l-4 border-blue-600 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4'
                      : 'group pl-4 py-2 flex flex-col border-l-4 border-gray-200 hover:border-gray-300 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4'
                  "
                >
                  <span
                    [ngClass]="
                      state === 'client'
                        ? 'text-xs text-blue-600 font-semibold tracking-wide uppercase'
                        : 'text-xs text-gray-500 font-semibold tracking-wide uppercase group-hover:text-gray-700'
                    "
                    >Client</span
                  >
                  <span class="text-sm font-medium"
                    >Please fill out appointee tables for client.</span
                  >
                </a>
              </li>

              <li class="md:flex-1">
                <a
                  (click)="state = 'spouse'"
                  [ngClass]="
                    state === 'spouse'
                      ? 'pl-4 py-2 flex flex-col border-l-4 border-blue-600 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4'
                      : 'group pl-4 py-2 flex flex-col border-l-4 border-gray-200 hover:border-gray-300 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4'
                  "
                >
                  <span
                    [ngClass]="
                      state === 'spouse'
                        ? 'text-xs text-blue-600 font-semibold tracking-wide uppercase'
                        : 'text-xs text-gray-500 font-semibold tracking-wide uppercase group-hover:text-gray-700'
                    "
                    >Spouse</span
                  >
                  <span class="text-sm font-medium"
                    >Please fill out appointee tables for spouse.</span
                  >
                </a>
              </li>
            </ol>
          </nav>

          <!-- EXECUTOR TABLE -->
          <div class="m-8">
            <div class="px-4 sm:px-6 lg:px-8">
              <div class="sm:flex sm:items-center">
                <div class="sm:flex-auto">
                  <h1
                    (click)="addAppointee('executor', false)"
                    class="text-xl font-semibold text-gray-900"
                  >
                    Executors
                  </h1>
                </div>
              </div>
              <div class="mt-8 flex flex-col">
                <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                  <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                    <div class="shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                      <table class="min-w-full divide-y divide-gray-300">
                        <thead class="bg-gray-50">
                          <tr>
                            <th
                              scope="col"
                              class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900"
                            >
                              Rank
                            </th>
                            <th
                              scope="col"
                              class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900"
                            >
                              First Name
                            </th>
                            <th
                              scope="col"
                              class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900"
                            >
                              Last Name
                            </th>
                            <th
                              scope="col"
                              class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900"
                            >
                              Street
                            </th>
                            <th
                              scope="col"
                              class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900"
                            >
                              City
                            </th>
                            <th
                              scope="col"
                              class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900"
                            >
                              State
                            </th>
                            <th
                              scope="col"
                              class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900"
                            >
                              Zip
                            </th>
                            <th
                              scope="col"
                              class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900"
                            >
                              Phone
                            </th>
                          </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white">
                          <ng-container *ngFor="let appointee of appointeeTypeFilter(clientAppointees, 'executor')">
                            <tr >
                              <td class="w-1/12 whitespace-nowrap px-2 py-2 text-sm text-gray-500">
                                <div>
                                  <select
                                  [(ngModel)]="appointee.executor_rank"
                                    class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                                  >
                                    <option *ngFor="let appointee of appointeeTypeFilter(clientAppointees, 'executor'); index as i" [ngValue]="i + 1" >{{i + 1}}</option>
                                    
                                  </select>
                                </div>
                              </td>
                              <td class="max-w-0 whitespace-nowrap px-2 py-2 text-sm text-gray-500">
                                <app-combobox [options]="clientOptions"></app-combobox>
                              </td>
                              <td class="max-w-0 whitespace-nowrap px-2 py-2 text-sm text-gray-500">
                                <div>
                                  <input
                                    type="text"
                                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                                  />
                                </div>
                              </td>

                              <td class="max-w-0 whitespace-nowrap px-2 py-2 text-sm text-gray-500">
                                <div>
                                  <input
                                    type="text"
                                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                                  />
                                </div>
                              </td>
                              <td class="max-w-0 whitespace-nowrap px-2 py-2 text-sm text-gray-500">
                                <div>
                                  <input
                                    type="text"
                                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                                  />
                                </div>
                              </td>
                              <td class="max-w-0 whitespace-nowrap px-2 py-2 text-sm text-gray-500">
                                <div>
                                  <select
                                    class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                                  >
                                    <option>United States</option>
                                    <option selected>Canada</option>
                                    <option>Mexico</option>
                                  </select>
                                </div>
                              </td>
                              <td class="max-w-0 whitespace-nowrap px-2 py-2 text-sm text-gray-500">
                                <div>
                                  <input
                                    type="text"
                                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                                  />
                                </div>
                              </td>
                              <td class="max-w-0 whitespace-nowrap px-2 py-2 text-sm text-gray-500">
                                <div>
                                  <input
                                    type="text"
                                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                                  />
                                </div>
                              </td>
                            </tr>
                          </ng-container>

                          <!-- More transactions... -->
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
