<div>
  <div class="space-y-6">
    <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
      <div>
        <div class="md:col-span-1">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Appointee Details</h3>
          <p class="mt-1 text-sm text-gray-500">
            Please enter information to the best of your ability.
          </p>
        </div>

        <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="px-4 sm:px-6 lg:px-8">
          <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto"></div>
            <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
              <button
                type="button"
                class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
              >
                Add Appointee
              </button>
            </div>
          </div>
          <div class="mt-8 flex flex-col">
            <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-300">
                    <thead class="bg-gray-50">
                      <tr class="divide-x divide-gray-200">
                        <th
                          scope="col"
                          class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                        >
                          Type
                        </th>

                        <th
                          scope="col"
                          class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900"
                        >
                          First Name
                        </th>

                        <th
                          scope="col"
                          class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900"
                        >
                          Last Name
                        </th>
                        <th
                          scope="col"
                          class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900"
                        >
                          Address
                        </th>

                        <th
                          scope="col"
                          class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900"
                        >
                          State
                        </th>

                        <th
                          scope="col"
                          class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900"
                        >
                          City
                        </th>
                        <th
                          scope="col"
                          class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900"
                        >
                          Zip
                        </th>
                        <th
                          scope="col"
                          class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pr-6"
                        >
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 bg-white">
                      <ng-container 
                        ><tr class="divide-x divide-gray-200">
                          <td
                            class="whitespace-nowrap py-4 pl-4 pr-4 text-sm font-medium text-gray-900 sm:pl-6"
                          >
                            <div>
                              <select
                                id="location"
                                name="location"
                                class="text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
                              >
                                <option [ngValue]="'VALUE'">Checking</option>
                                <option [ngValue]="'VALUE'">Savings</option>
                                <option [ngValue]="'VALUE'">Stocks</option>
                                <option [ngValue]="'VALUE'">Bonds</option>
                                <option [ngValue]="'VALUE'">CDs</option>
                                <option [ngValue]="'VALUE'">Promissory Notes</option>
                                <option [ngValue]="'VALUE'">Cars</option>
                                <option [ngValue]="'VALUE'">401K</option>
                                <option [ngValue]="'VALUE'">IRA</option>
                                <option [ngValue]="'VALUE'">Life Insurance</option>
                                <option [ngValue]="'VALUE'">Business Intrest</option>
                                <option [ngValue]="'VALUE'">Other</option>
                              </select>
                            </div>
                          </td>

                          <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                            <editable-input
                            ></editable-input>
                          </td>

                          <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                            <editable-input
                            ></editable-input>
                          </td>

                          <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                            <editable-input
                            ></editable-input>
                          </td>

                          <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                            <editable-input
                            ></editable-input>
                          </td>

                          <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                            <editable-input
                            ></editable-input>
                          </td>
                          <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                            <editable-input
                            ></editable-input>
                          </td>


                          <td
                            class="whitespace-nowrap py-4 pl-4 pr-4 text-sm text-gray-500 sm:pr-6"
                          >
                            <button>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                stroke-width="2"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                                />
                              </svg>
                            </button>
                          </td></tr
                      ></ng-container>

                      <!-- More people... -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-end">
    <button
      (click)="backButton()"
      type="button"
      class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    >
      Back
    </button>
    <button
      class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    >
      Continue
    </button>
  </div>
</div>
