<body class="h-screen antialiased">
  <div class="">
    <div class="h-screen py-2">
      <div class="mx-auto max-w-7xl">
        <div class="mt-4 px-4 sm:px-6 lg:px-8">
          <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
              <div class="flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="gray"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                  />
                </svg>
                <h1 class="px-4 text-xl font-semibold text-gray-600">Appointees</h1>
              </div>
              <p class="mt-2 text-sm text-gray-700">
                Please provide the executor, trustee, power of attorney, and medicial power of
                attorney for any estate planning documents that are being drafted. The system makes
                assumptions to limit intake time. First assumption is that the spouse will be the
                executor, trustee, POA, and MPOA. However, you can override the assumption by
                entering a different person in the trustee section.
              </p>
            </div>

            <!-- <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
              <button type="button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto">Add income</button>
            </div> -->
          </div>
          <!-- This example requires Tailwind CSS v2.0+ -->
          <nav *ngIf="spouse" class="mt-10" aria-label="Progress">
            <ol role="list" class="space-y-4 md:flex md:space-y-0 md:space-x-8">
              <li class="md:flex-1">
                <a
                  (click)="state = 'client'"
                  [ngClass]="
                    state === 'client'
                      ? 'pl-4 py-2 flex flex-col border-l-4 border-blue-600 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4'
                      : 'group pl-4 py-2 flex flex-col border-l-4 border-gray-200 hover:border-gray-300 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4'
                  "
                >
                  <span
                    [ngClass]="
                      state === 'client'
                        ? 'text-xs text-blue-600 font-semibold tracking-wide uppercase'
                        : 'text-xs text-gray-500 font-semibold tracking-wide uppercase group-hover:text-gray-700'
                    "
                    >Client</span
                  >
                  <span class="text-sm font-medium"
                    >Please fill out appointee tables for client.</span
                  >
                </a>
              </li>

              <li class="md:flex-1">
                <a
                  (click)="state = 'spouse'"
                  [ngClass]="
                    state === 'spouse'
                      ? 'pl-4 py-2 flex flex-col border-l-4 border-blue-600 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4'
                      : 'group pl-4 py-2 flex flex-col border-l-4 border-gray-200 hover:border-gray-300 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4'
                  "
                >
                  <span
                    [ngClass]="
                      state === 'spouse'
                        ? 'text-xs text-blue-600 font-semibold tracking-wide uppercase'
                        : 'text-xs text-gray-500 font-semibold tracking-wide uppercase group-hover:text-gray-700'
                    "
                    >Spouse</span
                  >
                  <span class="text-sm font-medium"
                    >Please fill out appointee tables for spouse.</span
                  >
                </a>
              </li>
            </ol>
          </nav>

<div class="m-5">

                  <h3 class="font-semibold text-gray-600">Executors</h3>
          <app-pi-table [settings]="clientSettings"></app-pi-table>
</div>

          
        </div>
      </div>
    </div>
  </div>
</body>



