<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
        
        <style>a:hover {
color: #FDD017 !important;
}
.rating>a:hover {
color: transparent;
}
.rating>a:hover~a {
color: transparent;
}
.rating>a:hover:before {
content: "\2605"; position: absolute; left: 5; color: #FDD017;
}
.rating>a:hover~a:before {
content: "\2605"; position: absolute; left: 5; color: #FDD017;
}
</style>
</head>
<body>
<div style="color: inherit; font-size: inherit; line-height: inherit;">
          <p style="margin-bottom: 1em;">Hello __firstname__</p>
          <p style="margin-bottom: 1em;"></p>
          <p style="margin-bottom: 1em;">
            Thanks for choosing __firmname__. We'd like to personally invite you to share your experience.
          </p>
          <p style="margin-bottom: 10px;">
            Your feedback helps us and our future clients. It takes just a moment and would mean the world to us.
          </p>
          <table width="320" border="0" align="center" cellpadding="20" cellspacing="0" style="text-align: center;" bgcolor="#FFFFFF">
            <tr>
              <td style="padding: 0px;">
                <p style="margin-top: 0px !important;">Please leave us a review</p>
                <div style="unicode-bidi: bidi-override; direction: rtl; font-size: 36px; margin-top: 15px; text-decoration: none;" align="center">
                  <a href="__5StarLink__" style="text-decoration: none; color: #DEDEDE; text-shadow: 1px 1px 1px #666666; display: inline-block; position: relative; width: 1.1em;" title="5">&#9733;</a>
                  <a href="__14StarLink__" style="text-decoration: none; color: #DEDEDE; text-shadow: 1px 1px 1px #666666; display: inline-block; position: relative; width: 1.1em;" title="4">&#9733;</a>
                  <a href="__14StarLink__" style="text-decoration: none; color: #DEDEDE; text-shadow: 1px 1px 1px #666666; display: inline-block; position: relative; width: 1.1em;" title="3">&#9733;</a>
                  <a href="__14StarLink__" style="text-decoration: none; color: #DEDEDE; text-shadow: 1px 1px 1px #666666; display: inline-block; position: relative; width: 1.1em;" title="2">&#9733;</a>
                  <a href="__14StarLink__" style="text-decoration: none; color: #DEDEDE; text-shadow: 1px 1px 1px #666666; display: inline-block; position: relative; width: 1.1em;" title="1">&#9733;</a>
                </div>
              </td>
            </tr>
          </table>
        </div>
        
        <p style="margin-top: 30px;">
        __firmname__
        </p>
</body>
</html>
