<div class="pt-6">
    <ep-accordion multi togglePosition="before">
        <ep-accordion-item *ngFor="let group of templateGroups" [expanded]="group.templates.length > 0">
            <ep-accordion-item-header>
                <ep-accordion-item-title>{{group.name | titlecase}}</ep-accordion-item-title>
            </ep-accordion-item-header>
            
            <div class="overflow-hidden bg-white shadow sm:rounded-md">
            <ul role="list" class="divide-y divide-gray-200">
                <app-case-template-list-item *ngFor="let template of group.templates" [template]="template" (editTemplate)="editTemplateDialog(template)" (deleteTemplate)="deleteTemplate(template)"></app-case-template-list-item>
            </ul>
        </div>
        </ep-accordion-item>
    </ep-accordion>
</div>
