  <div class="sm:flex sm:items-start">
    <div class="px-4 py-6 space-y-6 sm:px-8">
      <div>
        <h3 class="text-lg font-medium leading-6 text-gray-900">Add Client</h3>
        <!-- <p class="mt-1 text-sm text-gray-500">Use a permanent address where you can recieve mail.</p> -->
      </div>

      <div class="my-6">
        <form [formGroup]="clientForm">
          <div>
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                <label
                  for="first-name"
                  class="block text-sm font-medium text-slate-700"
                  >First name</label
                >
                <input
                  formControlName="first_name"
                  ep-input
                  type="text"
                  name="first-name"
                  id="first-name"
                  autocomplete="given-name"
                  class="mt-1"
                />
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label
                  for="last-name"
                  class="block text-sm font-medium text-slate-700"
                  >Last name</label
                >
                <input
                  formControlName="last_name"
                  ep-input
                  type="text"
                  name="last-name"
                  id="last-name"
                  autocomplete="family-name"
                  class="mt-1"
                />
              </div>

              <div class="col-span-6 sm:col-span-4">
                <label
                  for="email-address"
                  class="block text-sm font-medium text-slate-700"
                  >Email address</label
                >
                <input
                  formControlName="email"
                  ep-input
                  type="text"
                  name="email-address"
                  id="email-address"
                  autocomplete="email"
                  class="mt-1"
                />
              </div>

              <div class="col-span-6 sm:col-span-2">
                <label
                  for="phone"
                  class="block text-sm font-medium text-slate-700"
                  >Phone</label
                >
                <input
                  formControlName="phone"
                  ep-input
                  type="text"
                  name="phone"
                  id="phone"
                  class="mt-1"
                />
              </div>

              <div class="col-span-6">
                <label
                  for="street-address"
                  class="block text-sm font-medium text-slate-700"
                  >Street address</label
                >
                <input
                  formControlName="address"
                  ep-input
                  type="text"
                  name="street-address"
                  id="street-address"
                  autocomplete="street-address"
                  class="mt-1"
                />
              </div>

              <div class="col-span-6 sm:col-span-6">
                <label
                  for="city"
                  class="block text-sm font-medium text-slate-700"
                  >City</label
                >
                <input
                  formControlName="city"
                  ep-input
                  type="text"
                  name="city"
                  id="city"
                  class="mt-1"
                />
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label
                  for="state"
                  class="block text-sm font-medium text-slate-700"
                  >State</label
                >
                <input
                  formControlName="state"
                  ep-input
                  type="text"
                  name="state"
                  id="state"
                  class="mt-1"
                />
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label
                  for="postal-code"
                  class="block text-sm font-medium text-slate-700"
                  >ZIP</label
                >
                <input
                  formControlName="zip"
                  ep-input
                  type="text"
                  name="postal-code"
                  id="postal-code"
                  autocomplete="postal-code"
                  class="mt-1"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>