<div>
  <div class="px-4 py-5 sm:px-6 sm:py-4">
    <h3 class="font-medium leading-6 text-gray-900">{{title}} Client</h3>
    <!-- <p class="max-w-2xl mt-1 text-sm text-gray-500">Personal details and application.</p> -->
  </div>
  <div class="px-4 py-5 border-t border-gray-200 sm:px-6">
    <form [formGroup]="clientForm">
      <div>
        <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6 text-slate-800">
          <div class="col-span-6 sm:col-span-3">
            <label
              for="first-name"
              class="block text-sm font-medium text-slate-700"
              >First name</label
            >
            <input
              formControlName="first_name"
              ep-input
              type="text"
              name="first-name"
              id="first-name"
              autocomplete="off"
              class="mt-1"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="last-name"
              class="block text-sm font-medium text-slate-700"
              >Last name</label
            >
            <input
              formControlName="last_name"
              ep-input
              type="text"
              name="last-name"
              id="last-name"
              autocomplete="off"
              class="mt-1"
            />
          </div>

          <div class="col-span-6 sm:col-span-4">
            <label
              for="email-address"
              class="block text-sm font-medium text-slate-700"
              >Email address</label
            >
            <input
              formControlName="email"
              ep-input
              type="text"
              name="email-address"
              id="email-address"
              autocomplete="off"
              class="mt-1"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
            for="phone"
            class="block text-sm font-medium text-slate-700"
            >Phone</label
          >
            <div class="relative mt-1 rounded-md shadow-sm">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <span class="text-gray-500 sm:text-sm"> +1 </span>
              </div>
            <input
              formControlName="phone"
              type="tel"
              name="phone"
              id="phone"
              class="block w-full pl-8 pr-12 border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
              autocomplete="off"
              [inputMask]="phoneInputMask"
            />
            </div>
          </div>

          <div class="col-span-6">
            <label
              for="street-address"
              class="block text-sm font-medium text-slate-700"
              >Street address</label
            >
            <input
              formControlName="address"
              ep-input
              type="text"
              id="street-address"
              autocomplete="off"
              class="mt-1"
            />
          </div>

          <div class="col-span-6 sm:col-span-6 lg:col-span-2">
            <label
              for="city"
              class="block text-sm font-medium text-slate-700"
              >City</label
            >
            <input
              formControlName="city"
              ep-input
              type="text"
              id="city"
              class="mt-1"
              autocomplete="off"
            />
          </div>

          <div class="col-span-6 sm:col-span-3 lg:col-span-2">
            <label for="state" class="block text-sm font-medium text-slate-700">
              State
            </label>
            <div class="mt-1">
              <select formControlName="state"
              id="state"
                class="block w-full py-2 pl-3 pr-10 mt-1 text-base rounded-md shadow-sm border-slate-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                <option *ngFor="let state of usaStates" [ngValue]="state.abbreviation">{{state.name}}</option>
              </select>
            </div>
          </div>

          <div class="col-span-6 sm:col-span-3 lg:col-span-2">
            <label
              for="postal-code"
              class="block text-sm font-medium text-slate-700"
              >ZIP / Postal code</label
            >
            <input
              formControlName="zip"
              ep-input
              type="text"
              id="postal-code"
              autocomplete="off"
              class="mt-1"
              pattern="[0-9]{5}"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>