<div class="flex items-end" *ngIf="connectionState === 'connected'">
  <app-chat-creation-window
    *ngIf="newChat"
    @chatWindowAnimation
    (closed)="toggleNewChatWindow()"
    (create)="createConversation($event)"
  ></app-chat-creation-window>

  <app-chat-window
    *ngFor="let conversation of openedConversationItems"
    @chatWindowAnimation
    [conversation]="conversation"
    (minimized)="minimizeChat(conversation)"
  ></app-chat-window>

  <div class="flex flex-col items-center mb-4 group">
    <!-- Settings button -->
    <!-- <div Menu class="relative inline-block text-left">
      <button
      MenuButton
      type="button"
      class="mt-2 text-gray-600 transition-all duration-75 ease-in scale-75 bg-white rounded-full shadow opacity-0 drop-shadow-xl ring-1 ring-black ring-opacity-5 h-9 w-9 hover:text-gray-800 hover:bg-gray-50 group-hover:opacity-100 group-hover:scale-100"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5 mx-auto"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"
        />
      </svg>
    </button>
      <div *MenuItems @toggleAnimation class="absolute right-0 z-10 w-56 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
        <div class="p-1" *ngFor="let status of statusFilterOptions">
          <a MenuItem class="flex items-center w-full px-2 py-2 text-sm font-medium rounded-md group text-slate-700 hover:bg-blue-500 hover:text-white hover:cursor-pointer" (click)="filterStatus(status)">
            {{ status + " cases" | titlecase }}
          </a>
        </div>
      </div>
    </div> -->
    <!-- Message items -->
    <app-chat-conversation-button
      *ngFor="let conversation of conversationItems"
      [conversation]="conversation"
      [opened]="openedConversationItems.has(conversation)"
      (openedChange)="openChat(conversation)"
    ></app-chat-conversation-button>

    <!-- New message Button -->
    <button
      (click)="toggleNewChatWindow()"
      type="button"
      class="w-12 h-12 mt-2 text-white transition-all duration-75 ease-out translate-y-1 bg-gradient-to-br from-[#669df0] via-blue-500 to-[#4178ee] rounded-full shadow-lg drop-shadow-xl hover:text-blue-50 hover:from-blue-500 ring-1 ring-black ring-opacity-5 active:from-blue-600 active:to-blue-600"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 mx-auto drop-shadow"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.75"
          d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
        />
      </svg>
    </button>
  </div>
</div>
