<main class="flex-1 flex overflow-hidden">
    <div class="flex-1 flex flex-col overflow-y-auto xl:overflow-hidden">
      <!-- Breadcrumb -->
      <nav aria-label="Breadcrumb" class="bg-white border-b border-blue-gray-200 xl:hidden">
        <div class="max-w-3xl mx-auto py-3 px-4 flex items-start sm:px-6 lg:px-8">
          <a href="#" class="-ml-1 inline-flex items-center space-x-3 text-sm font-medium text-blue-gray-900">
            <!-- Heroicon name: solid/chevron-left -->
            <svg class="h-5 w-5 text-blue-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span>Firm Settings</span>
          </a>
        </div>
      </nav>

      <div class="flex-1 flex xl:overflow-hidden">
        <!-- Secondary sidebar -->
        <nav aria-label="Sections" class="hidden flex-shrink-0 w-96 bg-white border-r border-blue-gray-200 xl:flex xl:flex-col">
          <div class="flex-shrink-0 h-16 px-6 border-b border-blue-gray-200 flex items-center">
            <p class="text-lg font-medium text-blue-gray-900">Firm Settings</p>
          </div>
          <div class="flex-1 min-h-0 overflow-y-auto">
            <!-- Current: "bg-blue-50 bg-opacity-50", Default: "hover:bg-blue-50 hover:bg-opacity-50" -->
            <a routerLink="/firm/settings" [routerLinkActive]="'bg-blue-50 bg-opacity-50'" [routerLinkActiveOptions]="{exact: true}" class="hover:bg-blue-50 hover:bg-opacity-50 flex p-6 border-b border-blue-gray-200" aria-current="page">
              <!-- Heroicon name: outline/cog -->
              <svg class="flex-shrink-0 -mt-0.5 h-6 w-6 text-blue-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
              <div class="ml-3 text-sm">
                <p class="font-medium text-blue-gray-900">Firm Details</p>
                <p class="mt-1 text-blue-gray-500">Change your firm's profile details like it's description or address.</p>
              </div>
            </a>

            <a routerLink="legal-areas" [routerLinkActive]="'bg-blue-50 bg-opacity-50'" class="hover:bg-blue-50 hover:bg-opacity-50 flex p-6 border-b border-blue-gray-200">
              <!-- Heroicon name: outline/bell -->
              <svg class="flex-shrink-0 -mt-0.5 h-6 w-6 text-blue-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z" />
              </svg>
              <div class="ml-3 text-sm">
                <p class="font-medium text-blue-gray-900">Legal Areas</p>
                <p class="mt-1 text-blue-gray-500">Edit, add, or delete the legal areas for your client's cases and leads.</p>
              </div>
            </a>

            <a routerLink="manage-staff" [routerLinkActive]="'bg-blue-50 bg-opacity-50'" class="hover:bg-blue-50 hover:bg-opacity-50 flex p-6 border-b border-blue-gray-200">
              <!-- Heroicon name: outline/bell -->
              <svg class="flex-shrink-0 -mt-0.5 h-6 w-6 text-blue-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
              </svg>
              <div class="ml-3 text-sm">
                <p class="font-medium text-blue-gray-900">Manage Staff</p>
                <p class="mt-1 text-blue-gray-500">Edit, add, or remove a staff member from the firm.</p>
              </div>
            </a>

            <a routerLink="task-templates" [routerLinkActive]="'bg-blue-50 bg-opacity-50'" class="hover:bg-blue-50 hover:bg-opacity-50 flex p-6 border-b border-blue-gray-200">
              <!-- Heroicon name: outline/key -->
              <svg class="flex-shrink-0 -mt-0.5 h-6 w-6 text-blue-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z" />
              </svg>
              <div class="ml-3 text-sm">
                <p class="font-medium text-blue-gray-900">Task Templates</p>
                <p class="mt-1 text-blue-gray-500">Create a template for future tasks to streamline your scheduling process.</p>
              </div>
            </a>

            <a routerLink="delete-firm" [routerLinkActive]="'bg-blue-50 bg-opacity-50'" class="hover:bg-blue-50 hover:bg-opacity-50 flex p-6 border-b border-blue-gray-200">
              <!-- Heroicon name: outline/photograph -->
              <svg class="flex-shrink-0 -mt-0.5 h-6 w-6 text-blue-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
              </svg>
              <div class="ml-3 text-sm">
                <p class="font-medium text-blue-gray-900">Delete Firm</p>
                <p class="mt-1 text-blue-gray-500">Remove a firm from our database.</p>
              </div>
            </a>

            <!-- <a routerLink="#" class="hover:bg-blue-50 hover:bg-opacity-50 flex p-6 border-b border-blue-gray-200">
              <svg class="flex-shrink-0 -mt-0.5 h-6 w-6 text-blue-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg>
              <div class="ml-3 text-sm">
                <p class="font-medium text-blue-gray-900">Billing</p>
                <p class="mt-1 text-blue-gray-500">Change the schedule and billing type for your firm.</p>
              </div>
            </a> -->

          </div>
        </nav>

        <!-- Main content -->
        <div class="flex-1 max-h-screen xl:overflow-y-auto">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </main>