<div
  class="bg-gray-50 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 border-b border-gray-300"
>
  <div class="flex justify-between">
    <span>{{ label | titlecase }}</span>
    <button
      class="absolute flex items-center justify-center w-8 h-8 -mt-1.5 text-gray-400 rounded-full right-3 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
      *ngIf="user"
      (click)="selectOption('edit')"
      [tippy]="'Edit ' + label"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
        />
      </svg>
    </button>
    <button
      class="absolute flex items-center justify-center w-8 h-8 -m-1.5 text-gray-400 rounded-full right-3 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
      *ngIf="!user"
      (click)="openAddClient()"
      [tippy]="'Add ' + label"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
  </div>
</div>
<ng-container *ngIf="user">
  <div class="flex-shrink-0 block px-6 pb-6 border-b border-gray-300">
    <div class="flex flex-col flex-none overflow-y-auto">
      <div class="flex items-center py-4">
        <div>
          <ep-avatar
            [epSize]="'mediumSmall'"
            [epSrc]="user.profile_image"
            [epText]="user.full_name"
          ></ep-avatar>
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-gray-700">
            {{ user.full_name | titlecase }}
          </p>
        </div>
      </div>
      <div class="flex flex-col justify-between flex-auto">
        <dl class="grid grid-cols-1 text-sm text-gray-700 gap-x-6 gap-y-3">
          <dt class="col-end-1 font-semibold text-gray-900">Date of birth</dt>
          <dd>{{ user.dob }}</dd>
          <dt class="col-end-1 font-semibold text-gray-900">Email</dt>
          <dd class="truncate">
            <a href="https://example.com" class="text-blue-600 underline">{{ user.email || '' }}</a>
          </dd>
          <dt class="col-end-1 font-semibold text-gray-900">Home Phone</dt>
          <dd>
            <p>{{ user.phone | phone }}</p>
          </dd>
          <dt class="col-end-1 font-semibold text-gray-900">Cell Phone</dt>
          <dd>
            <p>{{ user.cell_phone | phone }}</p>
          </dd>

          <dt class="col-end-1 font-semibold text-gray-900">Address</dt>
          <dd>
            <p>{{ user.address }}</p>
            <p>
              {{ user.city && user.city.length ? user.city + ',' : '' }} {{ user.state }}
              {{ user.zip }}
            </p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</ng-container>
