<div class="text-right m-4">
  <button
    type="button"
    class="inline-flex items-center p-2 border border-transparent rounded-full shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
  >
    <!-- Heroicon name: outline/plus-sm -->
    <svg
      class="h-6 w-6"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      aria-hidden="true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 6v6m0 0v6m0-6h6m-6 0H6"
      />
    </svg>
  </button>
</div>
<app-user-profile-form
  [formSettings]="{ title: 'Client Information', subtitle: client.first_name, isClient: true }"
  [userProfile]="client"
></app-user-profile-form>

<app-user-profile-form
  *ngFor="let member of familyMembers"
  [userProfile]="member"
  [formSettings]="{
    title: 'Family Member Information',
    subtitle: member.first_name,
    isClient: false
  }"
></app-user-profile-form>
