<div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-slate-700 text-sm font-bold mb-2" for="username">
                Rating
            </label>
            <div class="inline-block relative w-64" >
                <select
                    class="block appearance-none w-full bg-white border border-slate-400 hover:border-slate-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                    [(ngModel)]="rating" name="rating">
                    <option>5 Star</option>
                    <option>4 Star</option>
                    <option>3 Star</option>
                    <option>2 Star</option>
                    <option>1 Star</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-slate-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </div>
            </div>
            <label class="block text-slate-700 text-sm font-bold mb-2" for="username">
                Comment
            </label>
            <textarea [(ngModel)]="comment" name="comment"></textarea>
        </div>
        <div class="flex items-center justify-between">
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button" (click)="sendReviewToDatabase()" [disabled]="buttonBool" [hidden]="buttonBool">
                Send Review
            </button>
            <p [hidden]="!buttonBool">Review Sent!</p>
        </div>
    </form>
    <p class="text-center text-slate-500 text-xs">
        EPFirms
    </p>

</div>