<div>
  <div class="px-4 py-5 sm:px-6 sm:py-4">
    <h3 class="font-medium leading-6 text-gray-900">{{ title }} Staff Member</h3>
  </div>
  <div class="px-4 py-5 border-t border-gray-200 sm:px-6">
    <form [formGroup]="staffForm">
      <div class="space-y-6">
        <div class="w-full">
          <label for="roles" class="block text-sm font-medium text-gray-700">Role</label>
          <select formControlName="role" id="roles" name="roles" class="block w-full py-2 pl-3 pr-10 mt-1 text-base border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
            <option *ngFor="let role of roleOptions" [ngValue]="role">{{role | titlecase}}</option>
          </select>
        </div>

        <div class="grid grid-cols-1 text-gray-800 gap-y-6 gap-x-4 sm:grid-cols-6" formGroupName="user">
          <div class="col-span-6 sm:col-span-3">
            <label
              for="first-name"
              class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-gray-700"
              >First name</label
            >
            <input
              formControlName="first_name"
              ep-input
              type="text"
              name="first-name"
              id="first-name"
              autocomplete="off"
              class="mt-1"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="last-name"
              class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-gray-700"
              >Last name</label
            >
            <input
              formControlName="last_name"
              ep-input
              type="text"
              name="last-name"
              id="last-name"
              autocomplete="off"
              class="mt-1"
            />
          </div>

          <div class="col-span-6 sm:col-span-4">
            <label for="email" class="block text-sm font-medium text-gray-700"
              >Email address</label
            >
            <div class="relative mt-1 rounded-md shadow-sm">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <!-- Heroicon name: solid/mail -->
                <svg
                  class="w-5 h-5 text-gray-400"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                  />
                  <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                </svg>
              </div>
              <input
                formControlName="email"
                autocomplete="off"
                type="email"
                name="email"
                id="email"
                class="block w-full pl-10 border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 sm:text-sm disabled:bg-gray-50 disabled:text-gray-700"
              />
            </div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="phone" class="block text-sm font-medium text-gray-700">Phone</label>
            <div class="relative mt-1 rounded-md shadow-sm">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <span class="text-gray-500 sm:text-sm"> +1 </span>
              </div>
              <input
                formControlName="phone"
                type="tel"
                name="phone"
                id="phone"
                class="block w-full pl-8 pr-12 border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                autocomplete="off"
                [inputMask]="phoneInputMask"
              />
            </div>
          </div>
        </div>

        <div class="w-full">
          <label
          for="rate"
          class="block text-sm font-medium text-gray-700"
          >Hourly rate</label
        >
        <div class="relative mt-1 rounded-md shadow-sm">

        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <span class="text-gray-500 sm:text-sm">
            $
          </span>
        </div>
        <input
          formControlName="hourly_rate"
          ep-input
          [inputMask]="currencyInputMask"
          placeholder="0.00"
          type="text"
          name="rate"
          id="rate"
          class="pr-12 pl-7"
        />

        <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
          <span class="text-gray-500 sm:text-sm" id="price-currency">
            USD
          </span>
        </div>
        </div>
        </div>
      </div>
    </form>
  </div>
</div>
