<div class="flex place-content-center">
  <div class="m-5 pt-8 w-1/2">
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">Probate Questionaire</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        These questions will collect information for a probate case.
      </p>
    </div>
    <div class="mt-6 grid grid-cols-2 gap-y-6 gap-x-4">
      <div class="col-span-3">
        <label class="block text-sm font-medium text-gray-700"> Date of Birth</label>
        <div class="mt-1">
          <input
            [(ngModel)]="form.date_of_birth"
            (change)="submit()"
            type="date"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
          />
        </div>
      </div>

      <div class="col-span-3">
        <label class="block text-sm font-medium text-gray-700"> Place of Birth </label>
        <div class="mt-1">
          <input
            [(ngModel)]="form.place_of_birth"
            (change)="submit()"
            type="text"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
          />
        </div>
      </div>
      <div class="col-span-3">
        <label class="block text-sm font-medium text-gray-700"> Date of Death</label>
        <div class="mt-1">
          <input
            [(ngModel)]="form.date_of_death"
            (change)="submit()"
            type="date"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
          />
        </div>
      </div>

      <div class="col-span-3">
        <label class="block text-sm font-medium text-gray-700"> Place of Death </label>
        <div class="mt-1">
          <input
            [(ngModel)]="form.place_of_death"
            (change)="submit()"
            type="text"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
          />
        </div>

        <!-- <div class="col-span-3">
          <label class="block text-sm font-medium text-gray-700"> US Citizen? </label>
          <div class="mt-1">
            <select
            [(ngModel)]="form.us_citizen"
(change)="submit()"
              class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            >
              <option [ngValue]="true">Yes</option>
              <option [ngValue]="false">No</option>
            </select>
          </div>
        </div>

        <div class="col-span-3">
          <label class="block text-sm font-medium text-gray-700"> Naturalized Citizen? </label>
          <div class="mt-1">
            <select
            [(ngModel)]="form.naturalized_citizen"
(change)="submit()"
              class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            >
              <option [ngValue]="true">Yes</option>
              <option [ngValue]="false">No</option>
            </select>
          </div>
        </div>

        <div class="col-span-3">
          <label class="block text-sm font-medium text-gray-700"> Date of Naturalization</label>
          <div class="mt-1">
            <input
            [(ngModel)]="form.date_of_naturalization"
(change)="submit()"
              type="date"
              class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            />
          </div>
        </div>

        <div class="col-span-3">
          <label class="block text-sm font-medium text-gray-700"> Place of Naturalization </label>
          <div class="mt-1">
            <input
            [(ngModel)]="form.place_of_naturalization"
(change)="submit()"
              type="text"
              class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            />
          </div> -->

        <div class="col-span-3">
          <label class="block text-sm font-medium text-gray-700"> Date of Will</label>
          <div class="mt-1">
            <input
              type="date"
              [(ngModel)]="form.date_of_will"
              (change)="submit()"
              class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            />
          </div>
        </div>

        <div class="col-span-3">
          <label class="block text-sm font-medium text-gray-700"> Date of Codicils</label>
          <div class="mt-1">
            <input
              [(ngModel)]="form.date_of_codicils"
              (change)="submit()"
              type="date"
              class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            />
          </div>
        </div>
        <div class="sm:col-span-6">
          <label for="about" class="block text-sm font-medium text-gray-700"> Notes </label>
          <div class="mt-1">
            <textarea
            [(ngModel)]="form.notes"
            (change)="submit()"
              rows="3"
              class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
