






<!-- ADD INVOICE SLIDE OVER -->
<div
  *ngIf="isVisible"
  class="fixed inset-0 overflow-hidden"
  aria-labelledby="slide-over-title"
  role="dialog"
  aria-modal="true"
>
  <div class="absolute inset-0 overflow-hidden">
    <!-- Background overlay, show/hide based on slide-over state. -->
    <div class="absolute inset-0" aria-hidden="true">
      <div class="fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16">
        <!--
          Slide-over panel, show/hide based on slide-over state.

          Entering: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-full"
            To: "translate-x-0"
          Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-0"
            To: "translate-x-full"
        -->
        <div class="w-screen max-w-5xl">
          <div class="flex flex-col h-full py-6 overflow-y-scroll bg-white shadow-xl">
            <div class="px-4 sm:px-3">
              <div class="flex items-start justify-center">
                <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">
                  [Client's Name] Invoice
                </h2>
              </div>
              <div class="flex items-start justify-center">
                <div class="text-md text-blue-300">Invoice # 2323</div>
              </div>
              <div class="flex items-start justify-center">
                <div class="">Law Firm Logo</div>
              </div>
              <div class="relative flex-1 px-4 mt-6 sm:px-3">
                <!-- Replace with your content -->

                <!-- <div>
                <label for="location" class="block text-sm font-medium text-gray-700">Terms</label>
                <select id="location"  class="block w-full py-2 pl-3 pr-10 mt-1 text-base rounded-md border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                  <option>Custom</option>
                  <option>NET 30</option>
                </select>
              </div> -->

                <div class="sm:col-span-3">
                  <label for="first-name" class="block text-sm font-medium text-gray-700">
                    Invoice Date
                  </label>
                  <div class="mt-1">
                    <editable-datepicker></editable-datepicker>
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <label for="first-name" class="block text-sm font-medium text-gray-700">
                    Due Date
                  </label>
                  <div class="mt-1">
                    <editable-datepicker></editable-datepicker>
                  </div>
                </div>
                <h3>Bills</h3>
                <!-- INVOICE ITEM TABLE -->
                <!-- This example requires Tailwind CSS v2.0+ -->
                <div class="mt-2 flex flex-col">
                  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                      <div class="overflow-hidden border-b border-gray-200 shadow-md sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                          <thead class="bg-gray-50">
                            <tr>
                              <th
                                scope="col"
                                class="w-1/12 px-3 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                              >
                                #
                              </th>
                              <th
                                scope="col"
                                class="w-2/12 px-3 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                              >
                                Staff
                              </th>
                              <th
                                scope="col"
                                class="w-4/12 px-3 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                              >
                                Description
                              </th>
                              <th
                                scope="col"
                                class="w-2/12 px-3 py-3 text-xs font-medium tracking-wider text-right text-gray-500 uppercase"
                              >
                                Amount
                              </th>
                              <th
                                scope="col"
                                class="w-1/12 px-3 py-3 text-xs font-medium tracking-wider text-right text-gray-500 uppercase"
                              ></th>
                              <!-- <th scope="col" class="px-3 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                              <button  type="button" name="button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                                </svg></button>
                            </th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <!-- Odd row -->
                            <tr class="bg-white">
                              <td
                                class="w-1/12 px-1 py-1 text-sm font-medium text-gray-900 whitespace-nowrap"
                              ></td>
                              <td
                                class="w-2/12 px-1 py-1 text-sm font-medium text-gray-900 whitespace-nowrap"
                              ></td>
                              <td class="w-7/12 px-1 py-1 text-sm text-gray-500 whitespace-nowrap">
                                <div class="">
                                  <input
                                    type="text"
                                    class="block w-full border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                                  />
                                </div>
                              </td>
                              <td class="w-2/12 px-1 py-1 text-sm whitespace-nowrap text-gray-500">
                                <input
                                  type="text"
                                  class="block w-full shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm border-gray-300"
                                />
                              </td>
                              <td
                                class="w-1/12 px-2 py-1 text-sm text-gray-500 whitespace-nowrap text-right"
                              >
                                <button type="button" name="button">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-6 h-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                  >
                                    <path
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M6 18L18 6M6 6l12 12"
                                    />
                                  </svg>
                                </button>
                              </td>
                            </tr>

                            <!-- More people... -->
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="py-2 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
                  <dt class="text-sm font-medium text-gray-500">Total</dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"></dd>
                </div>

                <div class="sm:col-span-6">
                  <label for="about" class="block text-sm font-medium text-gray-700">
                    invoice Message
                  </label>
                  <div class="mt-1">
                    <textarea
                      id="about"
                      name="about"
                      rows="3"
                      class="block w-full border rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm border-gray-300"
                    ></textarea>
                  </div>
                </div>

                <div
                  class="my-4 mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense"
                >
                  <button
                    type="button"
                    class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white bg-blue-600 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:col-start-2 sm:text-sm"
                  >
                    <span>Save & Send</span>
                  </button>
                  <button
                    type="button"
                    class="inline-flex justify-center w-full px-4 py-2 mt-3 text-base font-medium bg-white border rounded-md shadow-sm border-gray-300 text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:mt-0 sm:col-start-1 sm:text-sm"
                  >
                    Save
                  </button>
                </div>

                <!-- /End replace -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
