<form [formGroup]="caseForm" class="flex flex-col h-screen overflow-y-auto">
  <div class="flex-1">
    <!-- Header -->
    <div class="px-4 py-6 bg-gray-50 sm:px-6">
      <div class="flex items-start justify-between space-x-3">
        <div class="space-y-1">
          <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">
            New {{ matterType | titlecase }}
          </h2>
          <p class="text-sm text-gray-500">
            Get started by filling in the information below to create a new {{ matterType }}.
          </p>
        </div>
      </div>
    </div>

    <!-- Divider container -->
    <div class="py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">
      <div class="px-4 space-y-1 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
        <div>
          <label
            for="project-name"
            class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2"
          >
            Client
          </label>
        </div>
        <div class="sm:col-span-2" *ngIf="selectedClient">
          <div class="relative flex items-center justify-between space-x-3 rounded-lg">
            <div class="flex-shrink-0 block group">
              <div class="flex items-center">
                <div>
                  <ep-avatar
                    epSize="mediumSmall"
                    [epSrc]="selectedClient.profile_image"
                    [epText]="selectedClient.full_name"
                  >
                  </ep-avatar>
                </div>
                <div class="ml-3">
                  <p class="text-sm font-medium text-gray-700 group-hover:text-gray-900">
                    {{ selectedClient.full_name | titlecase }}
                  </p>
                  <p class="text-xs font-medium text-gray-500 group-hover:text-gray-700">
                    {{ selectedClient?.email }}
                  </p>
                </div>
              </div>
            </div>

            <button
              type="button"
              (click)="removeClient()"
              class="flex-shrink-0 ml-3 text-sm font-medium text-blue-500 bg-white rounded-md hover:text-blue-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-400"
            >
              Remove
            </button>
          </div>
        </div>
        <div class="sm:col-span-2" *ngIf="!selectedClient">
          <div class="relative">
            <input
              ep-input
              type="text"
              [ngModel]="clientId"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="filterClients($event)"
              [epAutocomplete]="auto"
              placeholder="Search client directory"
              [class.text-gray-500]="!caseForm.value.client_id"
            />
            <button
              type="button"
              class="absolute inset-y-0 right-0 flex items-center px-2 rounded-r-md focus:outline-none"
            >
              <!-- Heroicon name: solid/selector -->
              <svg
                class="w-5 h-5 text-gray-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
          <ep-autocomplete
            #auto="epAutocomplete"
            [displayWith]="displayClient"
            (optionSelected)="selectClient($event.option.value)"
          >
            <cdk-virtual-scroll-viewport
              itemSize="40"
              minBufferPx="240"
              maxBufferPx="480"
              class="w-full"
              style="height: 200px"
            >
              <ep-option
                *cdkVirtualFor="let client of filteredClients; trackBy: trackById"
                [value]="client.id"
              >
                <ep-avatar
                  epSize="xsmall"
                  [epSrc]="client.profile_image"
                  [epText]="client.full_name"
                >
                </ep-avatar>
                <span class="block ml-3 font-normal truncate">
                  {{ client.full_name }}
                </span>
                <span class="ml-2 text-gray-500 truncate">
                  {{ client.email || client.cell_phone || '' }}
                </span>
              </ep-option>
            </cdk-virtual-scroll-viewport>
          </ep-autocomplete>

          <div class="flex mt-2">
            <p class="text-sm text-gray-500" id="email-description">or</p>

            <button
              tabindex="-1"
              (click)="openAddClient()"
              type="button"
              class="flex items-center ml-1 bg-white rounded-md group focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              <span class="ml-0.5 text-sm font-medium text-blue-600 group-hover:text-blue-500"
                >Add new client</span
              >
            </button>
          </div>
        </div>
      </div>

      <div class="px-4 space-y-1 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
        <div>
          <label
            for="project-name"
            class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2"
          >
            Attorney
          </label>
        </div>
        <div class="sm:col-span-2">
          <div class="relative">
            <input
              ep-input
              type="text"
              [ngModel]="attorneyId"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="filterAttorneys($event)"
              [epAutocomplete]="autoAttorney"
              [class.text-gray-500]="!caseForm.value.attorney_id"
            />
            <button
              type="button"
              class="absolute inset-y-0 right-0 flex items-center px-2 rounded-r-md focus:outline-none"
            >
              <!-- Heroicon name: solid/selector -->
              <svg
                class="w-5 h-5 text-gray-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>

          <ep-autocomplete
            #autoAttorney="epAutocomplete"
            [displayWith]="displayAttorney"
            (optionSelected)="
              selectEvent($event.option.value, 'attorney_id'); selectAttorney($event.option.value)
            "
            panelWidth="auto"
          >
            <ep-option *ngFor="let attorney of filteredAttorneys" [value]="attorney.user.id">
              <ep-avatar
                epSize="xsmall"
                [epSrc]="attorney.user.profile_image"
                [epText]="attorney.user.full_name"
              >
              </ep-avatar>
              <span class="block ml-3 font-normal truncate">
                {{ attorney.user.full_name }}
              </span>
            </ep-option>
          </ep-autocomplete>
        </div>
      </div>

      <div class="px-4 space-y-1 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
        <div>
          <label
            for="project-name"
            class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2"
          >
            Legal area
          </label>
        </div>
        <div class="sm:col-span-2">
          <ng-container *ngIf="legalAreas$ | async as legalAreas">
            <div Menu class="relative inline-block text-left">
              <button
                MenuButton
                class="relative w-full py-2 pl-3 pr-10 text-left bg-white border border-gray-300 rounded-md shadow-sm cursor-default focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
              >
                <span class="block truncate" [class.text-gray-500]="!selectedLegalArea.name">
                  {{ selectedLegalArea.name || 'Select a legal area' | titlecase }}
                </span>
                <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                  <!-- Heroicon name: solid/selector -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5 text-gray-400"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
              </button>
              <div
                *MenuItems
                class="absolute right-0 z-10 w-56 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              >
                <div class="p-1" *ngFor="let legalArea of legalAreas">
                  <a
                    MenuItem
                    class="flex items-center w-full px-2 py-2 text-sm font-medium rounded-md group text-gray-700 hover:bg-blue-500 hover:text-white hover:cursor-pointer"
                    (click)="setLegalArea(legalArea)"
                  >
                    {{ legalArea.name | titlecase }}
                  </a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="px-4 space-y-1 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
        <div>
          <label
            for="project-name"
            class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2"
          >
            Intake
          </label>
        </div>
        <div class="sm:col-span-2">
          <div>
            <select
              [(ngModel)]="selectedIntake"
              [ngModelOptions]="{ standalone: true }"
              class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
            >
              <option [ngValue]="'none'">None</option>

              <option [ngValue]="'estate planning'">Estate Planning</option>

              <option [ngValue]="'probate'">Probate</option>
            </select>
          </div>
          <div class="relative flex items-start">
            <div class="flex items-center h-5">
              <input
                [(ngModel)]="sendIntake"
                [checked]="sendIntake"
                [ngModelOptions]="{ standalone: true }"
                type="checkbox"
                class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 rounded"
              />
            </div>
            <div class="ml-3 text-sm">
              <label for="comments" class="font-medium text-gray-700">Send Intake?</label>
              <p id="comments-description" class="text-gray-500">
                Send intake and email immediately to client.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="px-4 space-y-1 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
        <div>
          <label
            for="project-name"
            class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2"
          >
            {{ matterType | titlecase }} description
          </label>
        </div>
        <div class="sm:col-span-2">
          <input ep-input type="text" formControlName="title" />
        </div>
      </div>

      <div class="px-4 space-y-1 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
        <div>
          <label
            for="project-description"
            class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2"
          >
            Notes
          </label>
        </div>
        <div class="sm:col-span-2">
          <quill-editor
            [(ngModel)]="note"
            format="json"
            [modules]="{ toolbar: false }"
            placeholder=""
            [styles]="{
              'min-height': '6rem',
              'background-color': '#fff',
              'border-radius': '.375rem',
              border: '1px solid rgb(203, 213, 225)',
              'box-shadow': '0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, 0.05)'
            }"
            [ngModelOptions]="{ standalone: true }"
          >
          </quill-editor>
        </div>
      </div>

      <div class="px-4 space-y-1 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
        <div>
          <label
            for="project-description"
            class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2"
          >
            Settings
          </label>
        </div>
        <div class="sm:col-span-2">
          <div class="flex items-center justify-between">
            <span class="flex flex-col flex-grow">
              <span class="text-sm font-medium text-gray-900" id="availability-label"
                >Enable chat to text</span
              >
              <span class="text-sm text-gray-500" id="availability-description"
                >Clients can view and respond to your messages on their SMS enabled phone.
              </span>
            </span>
            <button
              (click)="toggleChatToText()"
              [disabled]="!caseForm.get('client_id').value"
              type="button"
              [ngClass]="{ 'bg-blue-500': enableChatToText, 'bg-gray-200': !enableChatToText }"
              class="relative inline-flex flex-shrink-0 w-10 h-6 ml-3 transition-colors duration-200 ease-in-out border-2 border-transparent rounded-full cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
              role="switch"
              aria-checked="false"
              aria-labelledby="availability-label"
              aria-describedby="availability-description"
            >
              <span
                aria-hidden="true"
                [ngClass]="{
                  'translate-x-4': enableChatToText,
                  'translate-x-0': !enableChatToText
                }"
                [class.bg-gray-100]="!caseForm.get('client_id').value"
                class="inline-block w-5 h-5 transition duration-200 ease-in-out transform bg-white rounded-full shadow pointer-events-none ring-0"
              ></span>
            </button>
          </div>

          <div class="w-full mt-2" *ngIf="enableChatToText">
            <div class="relative mt-1 rounded-md shadow-sm">
              <input
                type="tel"
                name="phone"
                id="phone"
                autocomplete="off"
                [formControl]="chatToTextNumber"
                ep-input
                [inputMask]="phoneInputMask"
              />
              <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                <svg
                  class="w-5 h-5 text-red-500"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  *ngIf="!chatToTextNumber.valid"
                >
                  <path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                    clip-rule="evenodd"
                  />
                </svg>

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 text-green-500"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  *ngIf="chatToTextNumber.valid"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
            </div>
            <p class="mt-2 text-sm text-red-600" id="phone-error" *ngIf="!chatToTextNumber.valid">
              Enter a valid cell phone number for this client.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Action buttons -->
  <div class="flex-shrink-0 px-4 py-5 border-t border-gray-200 sm:px-6">
    <div class="flex justify-end space-x-3">
      <button (click)="close()" type="button" class="button-white">Cancel</button>
      <button
        (click)="onSubmit()"
        type="submit"
        class="button-primary"
        [disabled]="!(caseForm.valid && chatToTextNumber.valid)"
      >
        Add {{ matterType }}
      </button>
    </div>
  </div>
</form>
