<!-- This example requires Tailwind CSS v2.0+ -->
<div class="m-5">
  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-xs font-medium text-gray-500 truncate">Intake Sent Date</dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        {{ matter.matter_intake.created_at | date }}
      </dd>
    </div>

    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-xs font-medium text-gray-500 truncate">Intake Status</dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">{{ matter.matter_intake.status }}</dd>
    </div>

    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-xs font-medium text-gray-500 truncate">Intake Type</dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">Personal Information</dd>
    </div>
  </dl>
</div>

<app-firm-personal-information *ngIf="state === 0" [matter]="matter" (continue)="setState(1)"></app-firm-personal-information>
<app-income *ngIf="state === 1" [matter]="matter" (back)="back()" (continue)="setState(2)"></app-income>
 <!-- ASSET INFORMATION -->

        <app-assets *ngIf="state === 2" [matter]="matter" (back)="back()" (continue)="setState(3)"></app-assets>
        <!-- -------------------------- -->


 <!-- REAL ESTATE INFORMATION -->
<app-real-estate *ngIf="state === 3" [matter]="matter" (back)="back()" (continue)="setState(4); submit()"></app-real-estate>
      <!-- -------------------------- -->


<app-will-requests *ngIf="state === 4" [matter]="matter"></app-will-requests>
