<!-- This example requires Tailwind CSS v2.0+ -->
<ng-container 
*ngIf="contractList != null">
<div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table  class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Case</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">Sign</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr   *ngFor="let contract of contractList">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{contract.case_id}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{contract.description}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{contract.client_signed ? 'Signed' : 'Unsigned'}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <a (click)="openContractViewer(contract)" class="text-blue-600 hover:text-blue-900">Sign</a>
                </td>
              </tr>
  
              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<app-contract-viewer [isVisible]="isContractViewerVisible" [contract]="currentContract" [requireClientSignature]="true" (isVisibleChange)="isContractViewerVisible = $event"></app-contract-viewer>

  