<div
class="pb-2 mr-4 overflow-hidden bg-white rounded-t-lg shadow-lg w-96 ring-1 ring-black ring-opacity-5"
>
<div class="flex px-4 py-3 space-x-4 shadow-sm ring-1 ring-black ring-opacity-5">
  <div class="self-center flex-1 h-8 min-w-0">
    <div class="relative h-full rounded-md">
      <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-sm text-gray-700 pointer-events-none">To:</span>
      <input 
      class="block w-full h-full pl-10 border-transparent rounded-md focus:ring-blue-500 focus:border-blue-500 sm:text-sm" 
      placeholder="Search staff members"
      [(ngModel)]="userId"
      (ngModelChange)="filterStaffMembers($event)"
      [epAutocomplete]="auto"
      >

      <ep-autocomplete #auto="epAutocomplete" [displayWith]="displayFn"
        (optionSelected)="resetFilteredStaffMembers()" panelWidth="auto">
        <ep-option *ngFor="let attorney of filteredStaffMembers" [value]="attorney.user.id">
          <span class="block ml-3 font-normal truncate">
            {{attorney.user.full_name}}
          </span>
        </ep-option>
      </ep-autocomplete>
    </div>
  </div>
  <div class="flex self-center flex-shrink-0 space-x-2">
    <div>
      <button
        type="button"
        class="flex items-center p-2 -m-2 text-gray-400 rounded-full hover:text-gray-600"
        id="menu-0-button"
        aria-expanded="false"
        aria-haspopup="true"
        (click)="closeWindow()"
      >
        <span class="sr-only">Close message</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
<div class="overflow-y-auto h-80">
  <div class="max-w-lg p-6 mx-auto">
    <div>
      <div class="text-center">
        <svg class="w-12 h-12 mx-auto text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 48 48" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M34 40h10v-4a6 6 0 00-10.712-3.714M34 40H14m20 0v-4a9.971 9.971 0 00-.712-3.714M14 40H4v-4a6 6 0 0110.713-3.714M14 40v-4c0-1.313.253-2.566.713-3.714m0 0A10.003 10.003 0 0124 26c4.21 0 7.813 2.602 9.288 6.286M30 14a6 6 0 11-12 0 6 6 0 0112 0zm12 6a4 4 0 11-8 0 4 4 0 018 0zm-28 0a4 4 0 11-8 0 4 4 0 018 0z" />
        </svg>
        <h2 class="mt-2 text-lg font-medium text-gray-900">New message</h2>
        <p class="mt-1 text-sm text-gray-500"></p>
      </div>
    </div>
  </div>
</div>
<div class="px-3 py-2">
  <div class="flex-1 min-w-0">
    <div class="flex items-start space-x-4">
      <div class="flex-1 min-w-0">
        <form action="#" class="relative group">
          <div
            class="relative overflow-hidden border border-gray-300 rounded-lg shadow-sm focus-within:border-blue-500 focus-within:ring-1 focus-within:ring-blue-500"
          >
            <label for="comment" class="sr-only">Add your comment</label>
            <textarea
              rows="1"
              name="comment"
              id="comment"
              class="block w-full py-3 border-0 resize-none focus:ring-0 sm:text-sm placeholder:text-gray-300 disabled:bg-gray-100"
              placeholder="Write a message..."
              [(ngModel)]="messageBody"
              (keyup.enter)="createConversation()"
              [disabled]="!userId"
            ></textarea>
          </div>

          <div class="absolute right-0 inset-y-0 flex py-1.5 px-1.5">
            <div>
              <button
                type="submit"
                (click)="createConversation()"
                [disabled]="!(userId && messageBody && messageBody.length)"
                class="items-center hidden px-4 py-2 text-sm font-medium text-white bg-blue-500 border border-transparent rounded-md shadow-sm group-focus-within:inline-flex hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:opacity-50"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-4 h-4 rotate-90"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>