<div class="flex-1">
  <!-- Header -->
  <div class="px-4 py-6 bg-gray-50 sm:px-6">
    <div class="flex items-start justify-between space-x-3">
      <div class="space-y-1">
        <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Intake Settings</h2>
        <p class="text-sm text-gray-500">
          Change the type of intake if needed. No information will be lost when switching.
        </p>
      </div>
    </div>
  </div>

  <!-- Divider container -->
  <div class="py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">
    <div class="px-4 space-y-1 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
      <div>
        <label for="project-name" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
          Intake Type
        </label>
      </div>
      <div class="sm:col-span-2">
        <div class="relative flex items-center justify-between space-x-3 rounded-lg">
          <div class="flex-shrink-0 block group">
            <div class="flex items-center">
<div class="mt-1.5 relative">
        <select
            [(ngModel)]="selectedIntake"
          class="appearance-none block w-full bg-none bg-white border border-gray-300 rounded-md pl-3 pr-10 py-2 text-base text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        >
          <option [ngValue]="'estate planning'">Estate Planning</option>

          <option [ngValue]="'probate'">Probate</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 px-2 flex items-center">
          <!-- Heroicon name: solid/chevron-down -->
          <svg
            class="h-4 w-4 text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="px-4 space-y-1 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
      <div>
        <label for="project-name" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
          Intake Visibility
        </label>
      </div>
      <div class="sm:col-span-2">
        <div class="relative flex items-center justify-between space-x-3 rounded-lg">
          <div class="flex-shrink-0 block group">
            <div class="flex items-center">
<div class="mt-1.5 relative">
        <select
            [(ngModel)]="intake.status"
          class="appearance-none block w-full bg-none bg-white border border-gray-300 rounded-md pl-3 pr-10 py-2 text-base text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        >
          <option [ngValue]="'sent'">Firm and Client</option>

          <option [ngValue]="'firm only'">Firm Only</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 px-2 flex items-center">
          <!-- Heroicon name: solid/chevron-down -->
          <svg
            class="h-4 w-4 text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Action buttons -->
  <div class="flex-shrink-0 px-4 py-5 border-t border-gray-200 sm:px-6">
    <div class="flex justify-end space-x-3">
      <button (click)="close()" type="button" class="button-white">Cancel</button>
      <button (click)="submit()" class="button-primary">Save</button>
    </div>
  </div>
</div>
