.datepicker-blue {
  & > .calendar-container {
    @apply absolute bg-white shadow-md font-medium rounded-lg z-10 border border-slate-200;
    border-radius: 0.5rem !important;
  }
  .month-year-text {
    @apply text-slate-700;
  }
  .control {
    &:hover {
    }
  }
  .day-name-unit {
    @apply text-slate-500;
  }
  .day-unit,
  .year-unit {
    @apply text-slate-700;

    &.is-prev-month {
      @apply text-slate-300;
    }
    &.is-today {
      background: #8ed0f0;
    }
    &:hover {
      @apply bg-slate-100;
    }
    &.is-selected {
      @apply text-blue-700 bg-blue-100;
    }
    &.is-disabled {
      color: #aaa8ab;
      &:hover {
        background: transparent;
      }
    }
  }
}

.datepicker-input {
  @apply bg-transparent text-sm text-slate-700 w-full px-2 py-1 border border-transparent border-dashed hover:bg-white hover:border-slate-300 focus:bg-white focus:border-transparent focus:shadow-sm;

  min-width: 12ch;

  &::placeholder {
    @apply text-slate-400 font-normal;
  }
}
