@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/animations/shift-away-subtle.css';

.tippy-box[data-theme~='tomato'] {
  box-shadow: inset 0 2px 1px -1px rgba(156, 163, 175, .5);
  background-color: rgb(55, 65, 81);
  color: rgb(255, 255, 255);

  & > .tippy-content {
    font-size: .75rem;
    border-radius: .25rem;
    font-weight: 500;
  }
}