@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/animations/shift-away-subtle.css';

.tippy-box[data-theme~='tooltip-dark'] {
  box-shadow: inset 0 2px 1px -1px rgba(156, 163, 175, .5);
  background-color: rgb(55, 65, 81);
  color: rgb(255, 255, 255);
  border-radius: .25rem;

  & > .tippy-content {
    font-size: .75rem;
    font-weight: 500;
  }
}

.tippy-box[data-theme~='dropdown-light'] {
  @apply rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none w-56;

  & > .tippy-content {
    @apply text-gray-700 px-0 py-1;
  }
}